.wrapper {
    display: flex;
    align-items: stretch;
     padding-top: 0; 
}
.login-button {
    background-color: rgb(149, 84, 155);
    background-image: linear-gradient(to right, rgb(149, 84, 155), rgb(216, 118, 135));
    color: rgb(255, 255, 255);
    
    height: 47px;
    margin-right: 0px;
}
.change-password-from{
    width:40%;
    position: relative;
    margin: 0 auto;
}
