<div class="container-fluid">
    <div class="">
        <div class="container-padding">
            <div class="change-password-width">
                <div class="change-password-from pt-5">
                    <form class="login-form" [formGroup]="ChangePasswordForm" (ngSubmit)="clkChangePassword()">
                        <h6> Change Password
                            <div style="height:10px">
                                <div *ngIf="errorMessage" [ngStyle]="{'color': errorType == 'Error' ? 'red':'green'}"
                                    class="notificationMessage">{{Message}}</div>
                            </div>
                        </h6> <br>
                        <div class="form-group inner-addon ">
                            <mat-form-field>
                                <input matInput [type]="show_password ? 'text' : 'password'" autocomplete="off"
                                    name="oldpassword" id="oldpassword" placeholder=" Old Password"
                                    formControlName="ChangePasswordForm.controls['oldpassword']">
                                <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                                <span class="input-group-addon" matSuffix>
                                    <a (click)="OldPassword()">
                                        <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" id="showPassword" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <mat-error *ngFor="let validation of validation_messages.oldpassword">
                                    <!-- <span *ngIf="ChangePasswordForm.get('oldpassword').hasError(validation.type)">
                                        {{ validation.message}}
                                    </span> -->
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group inner-addon">
                            <mat-form-field>
                                <input matInput [type]="Newshow_password ? 'text' : 'password'" name="newpassword"
                                    id="newpassword" placeholder="New Password"
                                    formControlName="ChangePasswordForm.controls['newpassword']" />
                                <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                                <span class="input-group-addon" matSuffix>
                                    <a (click)="NewPassword()">
                                        <i [class]="Newshow_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                            id="showPassword" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <mat-error *ngFor="let validation of validation_messages.newpassword">
                                    <!-- <span *ngIf="ChangePasswordForm.get('newpassword').hasError(validation.type)">
                                        {{ validation.message}}
                                    </span> -->
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group inner-addon">
                            <mat-form-field>
                                <input matInput [type]="Confirmshow_password ? 'text' : 'password'"
                                    name="confirmpassword" id="confirmpassword" placeholder="Confirm Password"
                                    formControlName="ChangePasswordForm.controls['confirmpassword']" />
                                <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                                <span class="input-group-addon" matSuffix>
                                    <a (click)="ConfirmPassword()">
                                        <i [class]="Confirmshow_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                            id="showPassword" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <mat-error *ngFor="let validation of validation_messages.confirmpassword">
                                    <!-- <span *ngIf="ChangePasswordForm.get('confirmpassword').hasError(validation.type)">
                                        {{ validation.message}}
                                    </span> -->
                                </mat-error>
                                <mat-error>
                                    <span
                                        *ngIf="ChangePasswordForm.controls['confirmpassword'].value.length !=0 && ChangePasswordForm.controls['confirmpassword'].hasError('mustMatch')">
                                        Confirm Password sholud be Match
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group form-button float-right">
                            <button type="submit" name="signup" id="signup" class="btn login-button btn-rounded ">
                                <i class="fa fa-sign-in-alt " aria-hidden="true"></i> Change Password </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>