<div class="container-fluid">
    <div class="">
        <div class="container-padding">
            <div class="change-password-width">
                <div class="change-password-from pt-5">
                    <form class="login-form" [formGroup]="ChangePasswordForm" (ngSubmit)="clkChangePassword()">
                        <h6> Change Password
                            <div style="height:10px">
                                <div *ngIf="errorMessage" [ngStyle]="{'color': errorType == 'Error' ? 'red':'green'}"
                                    class="notificationMessage">{{Message}}</div>
                            </div>
                        </h6> <br>
                        <div class="form-group inner-addon   ">
                            <label> Old Password </label>

                            <mat-form-field appearance="outline">
                                <input matInput [type]="show_password ? 'text' : 'password'" autocomplete="off"
                                    name="oldpassword" id="oldpassword" placeholder=" Old Password"
                                    formControlName="oldpassword">
                                <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                                <span class="input-group-addon" matSuffix>
                                    <a (click)="OldPassword()">
                                        <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" id="showPassword"
                                            aria-hidden="true"></i>
                                    </a>
                                </span>
                                <!-- <mat-error *ngFor="let validation of validation_messages.oldpassword">
                                    <span *ngIf="ChangePasswordForm.get('oldpassword')?.hasError(validation.type)">
                                        {{ validation.message}}
                                    </span>
                                </mat-error> -->
                            </mat-form-field>
                            <div class="error-message"
                                *ngIf="ChangePasswordForm.controls['oldpassword'].invalid && (ChangePasswordForm.controls['oldpassword'].dirty || ChangePasswordForm.controls['oldpassword'].touched)">
                                <mat-error [hidden]=" !ChangePasswordForm.get('oldpassword')?.hasError('required')  ">
                                    Old password is mandatory
                                </mat-error>
                                <mat-error [hidden]=" !ChangePasswordForm.get('oldpassword')?.hasError('maxLength')  ">
                                    Invalid Password
                                </mat-error>
                            </div>

                        </div>
                        <div class="form-group inner-addon ">
                            <label> New Password </label>

                            <mat-form-field appearance="outline">
                                <input matInput [type]="Newshow_password ? 'text' : 'password'" name="newpassword"
                                    id="newpassword" placeholder="New Password" formControlName="newpassword" />
                                <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                                <span class="input-group-addon" matSuffix>
                                    <a (click)="NewPassword()">
                                        <i [class]="Newshow_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" id="showPassword"
                                            aria-hidden="true"></i>
                                    </a>
                                </span>
                            </mat-form-field>
                            <div class="error-message"
                                *ngIf="ChangePasswordForm.controls['newpassword'].invalid && (ChangePasswordForm.controls['newpassword'].dirty || ChangePasswordForm.controls['newpassword'].touched)">
                                <mat-error [hidden]=" !ChangePasswordForm.get('newpassword')?.hasError('required')  ">
                                    New password is mandatory
                                </mat-error>
                                <mat-error [hidden]=" !ChangePasswordForm.get('newpassword')?.hasError('minlength')  ">
                                    Password should contain atleast 12 character
                                </mat-error>
                                <mat-error [hidden]=" !ChangePasswordForm.get('newpassword')?.hasError('pattern')  ">
                                    Invalid Password
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group inner-addon ">
                            <label> Confirm Password </label>

                            <mat-form-field appearance="outline">
                                <input matInput [type]="Confirmshow_password ? 'text' : 'password'"
                                    name="confirmpassword" id="confirmpassword" placeholder="Confirm Password"
                                    formControlName="confirmpassword" (keyup)="confirmpasswordchange()" />
                                <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                                <span class="input-group-addon" matSuffix>
                                    <a (click)="ConfirmPassword()">
                                        <i [class]="Confirmshow_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" id="showPassword"
                                            aria-hidden="true"></i>
                                    </a>
                                </span>
                            </mat-form-field>
                            <div class="error-message"
                                *ngIf="ChangePasswordForm.controls['confirmpassword'].invalid && (ChangePasswordForm.controls['confirmpassword'].dirty || ChangePasswordForm.controls['confirmpassword'].touched)">
                                <mat-error
                                    [hidden]=" !ChangePasswordForm.get('confirmpassword')?.hasError('required')  ">
                                    Password is mandatory
                                </mat-error>
                                <mat-error
                                    [hidden]=" !ChangePasswordForm.get('confirmpassword')?.hasError('maxLength')  ">
                                    Invalid Password
                                </mat-error>
                            </div>
                            <mat-error *ngIf=" ispasswordNotMatch">
                                Password doesn't match
                            </mat-error>
                        </div>
                        <div class="form-group form-button float-right">
                            <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block ">
                                Change Password </button>
                            <button type="button" name="signup" id="signup" (click)="cancelBtn()"
                                class="btn btn-outline-secondary btn-rounded d-inline-block ">
                                <!-- <i class="fa fa-sign-in-alt mt-2 " aria-hidden="true"></i> -->
                                <span>Cancel</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>