<div class="ConfigurationTypes_textpadding ">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/addpages">Website Management</a></li>
            <li class="breadcrumb-item"><a href="#/gallery">Photo Album</a></li>

            <li class="breadcrumb-item active" aria-current="page">Upload image to album</li>
        </ol>
    </nav>

    <div class="mb-4 pl-2 text-secondary d-flex flex-row flex-wrap justify-content-between align-items-center">
        <br />
        <div class="d-flex flex-row flex-wrap">
            <!-- <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block border border-dark "
                (click)="creategallery()">
                Create Album
            </button>
            <br /><br /> -->
            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block border border-dark "
                (click)="manageGallery()">
                Mange Albums
            </button>
        </div>
    </div>


    <div class="card  bg-secondary" [hidden]="!filelist.length">
        <div class="card-header text-white bg-secondary">
            Manage Album
        </div>
        <div class="card-body bg-white  py-2">
            <div class="row">
                <div class="col-md-4  d-flex flex-column  bg-white py-2  mr-md-0 " *ngFor="let file of filelist">

                    <div class="p-2 w-75 mx-auto" style="position: relative; height: 100%; ">
                        <img mat-card-image class="mx-auto  w-100" [src]="file?.path" [alt]="file.name">

                    </div>
                    <mat-card-actions>
                    </mat-card-actions>
                </div>
            </div>
            <br />

        </div>
    </div>

</div>