<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-4">
                <!-- <a> <img src="assets/images/logo-income.svg" class="logo-img" alt="logo" /> </a> -->
            </div>
        </div>
    </div>
</nav>
<div class="loading-spinner" *ngIf="isloading">
    <mat-spinner [mode]="'indeterminate'"></mat-spinner>

</div>
<!-- Masthead-->
<div class="container-fluid">
    <div class="container-padding">
        <div class="signup-content row">
            <div class="signup-form col-md-5 pt-5 mt-5 order-2">
                <!-- <h2 class="form-title">Traditional yoga </h2> -->
                <h3> Forgot Password </h3>
                <br />
                <div class="">
                    <div class="form-group inrne-addon ">
                        <label> User ID </label>
                        <mat-form-field appearance="outline" autofill="none">
                            <input matInput type="email" autocomplete="off" name="email" id="email"
                                placeholder=" Login ID" [(ngModel)]="email">
                            <span matPrefix> <i class="far fa-user" aria-hidden="true"></i> </span>
                        </mat-form-field>
                    </div>
                    <button type="button" name="signup" id="signup" *ngIf="email" (click)="verifyEmail()"
                        class="btn btn-outline-secondary btn-rounded d-inline-block float-md-right ">
                        <!-- <i class="fa fa-sign-in-alt mt-2 " aria-hidden="true"></i> -->
                        <span>Verify</span>
                    </button>
                </div>
                <form class="login-form " *ngIf="isemailVerified" [formGroup]="formDetails"
                    (ngSubmit)="onForgotPassword()">

                    <br />
                    <br>
                    <div class="form-group inner-addon">
                        <label> Password </label>
                        <mat-form-field appearance="outline" autofill="none">
                            <input matInput type="password" name="password" id="password" placeholder="Password"
                                formControlName="password" />
                            <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                        </mat-form-field>
                        <div class="error-message"
                            *ngIf="formDetails.controls['password'].invalid && (formDetails.controls['password'].dirty || formDetails.controls['password'].touched)">
                            <mat-error [hidden]=" !formDetails.get('password')?.hasError('required')  ">
                                Password is mandatory
                            </mat-error>
                            <mat-error [hidden]=" !formDetails.get('password')?.hasError('minlength')  ">
                                Password should contain minimum 12 characters.
                            </mat-error>
                            <mat-error [hidden]=" !formDetails.get('password')?.hasError('pattern')  ">
                                Invalid Password
                            </mat-error>
                        </div>
                    </div>

                    <br>
                    <div class="form-group inner-addon">
                        <label> Confirm Password </label>
                        <mat-form-field appearance="outline" autofill="none">
                            <input matInput type="password" name="password" id="password" placeholder="Password"
                                formControlName="confirmpassword" (keyup)="confirmpasswordchange()" />
                            <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                        </mat-form-field>
                        <div class="error-message"
                            *ngIf="formDetails.controls['confirmpassword'].invalid && (formDetails.controls['confirmpassword'].dirty || formDetails.controls['confirmpassword'].touched)">
                            <mat-error [hidden]=" !formDetails.get('confirmpassword')?.hasError('required')  ">
                                Password is mandatory
                            </mat-error>
                        </div>
                        <mat-error *ngIf=" ispasswordNotMatch">
                            Password doesn't match
                        </mat-error>
                    </div>
                    <div class="form-group form-button float-right">
                        <button type="submit" name="signup" id="signup"
                            class="btn btn-outline-secondary btn-rounded d-inline-block ">
                            <!-- <i class="fa fa-sign-in-alt mt-2 " aria-hidden="true"></i> -->
                            <span>Submit</span>
                        </button>
                        <button type="button" name="signup" id="signup" (click)="cancelBtn()"
                            class="btn btn-outline-secondary btn-rounded d-inline-block ">
                            <!-- <i class="fa fa-sign-in-alt mt-2 " aria-hidden="true"></i> -->
                            <span>Cancel</span>
                        </button>
                    </div>
                    <div class="form-group form-button float-left">
                        <!-- <button type="button" name="register" id="register"
                            class="btn btn-outline-secondary btn-rounded d-inline-block" (click)="onRegister()">
                            <span>Member Register</span>
                        </button> -->
                    </div>
                </form>
            </div>
            <div class="signup-image col-md-5 mt-5 order-1">
                <figure>
                    <img src="assets/images/Traditional-yoga-new-logo.png " alt="sing up image " width="75% ">
                </figure>
            </div>
        </div>
    </div>
</div>