<div class="ConfigurationTypes_textpadding p-5 bg-light ">
    <div class="row mb-5">
        <div class="col-7">
           <h3 class="mb-4 pl-2 text-secondary"> Photo Gallery</h3>
          </div>
          <div class="col-5 d-flex justify-content-end">
             <button class="bg-white  border-mutted border-2  mx-3 pr-3 btn-rounded fs-6" (click)="CreateGallery()"><i class="fa-solid fa-camera m-2"></i>Create Gallery</button>
             <button class="bg-white border-mutted border-2 ml-3 mx-1 pr-2 btn-rounded"><i class="fa-solid fa-photo-film m-2"></i>Manage Galleries</button>
          </div>
      </div>

<div class="bg-white border border-2 row my-3" *ngFor="let gallery  of data ">

  <div class="col-1">
    <i class="fa-solid fa-photo-film bg-light border p-2 m-2 mt-4 rounded"></i>

  </div>
  <div class="col-3 my-3 border-right border-3 border-mutted">
    <p class="text-secondary font-weight-bold">{{gallery.courseName}}</p>
    <p><small>Gallery Name</small></p>
    <div class="d-flex"><p class="mr-2 " style="color:blue">Edit</p>|<p class="ml-2 text-danger">Delete</p></div>
    </div>
    <div class="col-2 my-3 border-right border-3 border-mutted">
      
         <p class="text-secondary font-weight-bold">{{gallery.date}}</p>
         <p class="text-secondary font-weight-bold">{{gallery.role}}</p>
        <p> <small>Date of creation</small></p>      
      
    </div>
    <div class="col-2 my-3 pr-5 border-right border-3 border-mutted">
      <i class="fa-solid fa-photo-film bg-light border p-2 rounded"></i><label class="ml-2 font-weight-bold" style="color:rgb(19, 19, 255) ">{{gallery.count}}</label>
      <p><small>number of photos added</small></p>
    </div>
    <div class="col my-3  border-right border-3 border-mutted">
      <button class=" border-0  mb-2 px-5 py-2 ml-2 rounded" style="background-color:rgb(166, 163, 163)"><p class="text-white pr-2">Visible</p></button>
      <button class=" border-0  mb-1 px-5 py-2 ml-2 rounded" >Invisible</button>

    </div>
    <div class="col-2 my-3 d-flex">
     <h5 class="text-muted mt-4 ml-4" style="cursor:pointer ;">Add </h5><h5 class="text-muted mt-4 ml-4" style="cursor:pointer ;"> View</h5>
    </div>


</div>



    
</div>