<div class="ConfigurationTypes_textpadding ">
    <h3 class="mb-4 pl-2  "> Hide menu options</h3>
    <div class="">

        <dl>

            <!-- one -->
            <dt class="">
                <h6>1. Courses</h6>
                <br />

            </dt>
            <dd class="d-flex flex-column">
                <div class="d-flex flex-row   align-items-center ">
                    <div>
                        <label for="RYIT200/500" class="mx-5 ">RYIT200/500</label>
                    </div>
                    <div>
                        <input type="checkbox" id="RYIT200/500" (change)="checboxchange($event)"
                            [(ngModel)]="isRYIT200500" />

                    </div>
                </div>
                <br />
                <div class="d-flex flex-row   align-items-center =">
                    <div>
                        <label for="RYIT600/800" class="mx-5 ">RYIT600/800</label>

                    </div>
                    <div>
                        <input type="checkbox" id="RYIT600/800" (change)="checboxchange($event)"
                            [(ngModel)]="isRYIT600800" />

                    </div>
                </div>
            </dd>
            <br />
            <!-- one -->
            <dt>
                <h6>2. Retreats</h6>
                <br />

            </dt>
            <dd class="d-flex flex-column" style="height: 10vh;">
                <!-- <div class="d-flex flex-row   align-items-center ">
                    <div>
                        <label for="RYIT200/500"  class="mx-5 ">RYIT200/500</label>
                    </div>
                    <div>
                        <input type="checkbox" id="RYIT200/500" (change)="checboxchange($event)" [(ngModel)]="isRYIT200500" />

                    </div>
                </div>
                <br/>
                <div class="d-flex flex-row   align-items-center =">
                    <div>
                        <label for="RYIT600/800" class="mx-5 ">RYIT600/800</label>

                    </div>
                    <div>
                        <input type="checkbox" id="RYIT600/800" (change)="checboxchange($event)" [(ngModel)]="isRYIT600800" />

                    </div>
                </div> -->
            </dd>

            <br />

            <!-- one -->
            <dt>
                <h6>3. My Tasks</h6>
                <br />

            </dt>
            <dd class="d-flex flex-column" style="height: 10vh;">
                <!-- <div class="d-flex flex-row   align-items-center ">
                    <div>
                        <label for="RYIT200/500"  class="mx-5 ">RYIT200/500</label>
                    </div>
                    <div>
                        <input type="checkbox" id="RYIT200/500" (change)="checboxchange($event)" [(ngModel)]="isRYIT200500" />

                    </div>
                </div>
                <br/>
                <div class="d-flex flex-row   align-items-center =">
                    <div>
                        <label for="RYIT600/800" class="mx-5 ">RYIT600/800</label>

                    </div>
                    <div>
                        <input type="checkbox" id="RYIT600/800" (change)="checboxchange($event)" [(ngModel)]="isRYIT600800" />

                    </div>
                </div> -->
            </dd>
            <br />

            <!-- one -->
            <dt>
                <h6>4 Resources</h6>
                <br />

            </dt>
            <dd class="d-flex flex-column" style="height: 10vh;">
                <!-- <div class="d-flex flex-row   align-items-center ">
                <div>
                    <label for="RYIT200/500"  class="mx-5 ">RYIT200/500</label>
                </div>
                <div>
                    <input type="checkbox" id="RYIT200/500" (change)="checboxchange($event)" [(ngModel)]="isRYIT200500" />

                </div>
            </div>
            <br/>
            <div class="d-flex flex-row   align-items-center =">
                <div>
                    <label for="RYIT600/800" class="mx-5 ">RYIT600/800</label>

                </div>
                <div>
                    <input type="checkbox" id="RYIT600/800" (change)="checboxchange($event)" [(ngModel)]="isRYIT600800" />

                </div>
            </div> -->
            </dd>
            <br />
            <!-- one -->
            <dt>
                <h6>5. Pratice Library</h6>
                <br />

            </dt>
            <dd class="d-flex flex-column" style="height: 10vh;">
                <!-- <div class="d-flex flex-row   align-items-center ">
                            <div>
                                <label for="RYIT200/500"  class="mx-5 ">RYIT200/500</label>
                            </div>
                            <div>
                                <input type="checkbox" id="RYIT200/500" (change)="checboxchange($event)" [(ngModel)]="isRYIT200500" />
        
                            </div>
                        </div>
                        <br/>
                        <div class="d-flex flex-row   align-items-center =">
                            <div>
                                <label for="RYIT600/800" class="mx-5 ">RYIT600/800</label>
        
                            </div>
                            <div>
                                <input type="checkbox" id="RYIT600/800" (change)="checboxchange($event)" [(ngModel)]="isRYIT600800" />
        
                            </div>
                        </div> -->
            </dd>
            <br />
            <!-- one -->
            <dt>
                <h6>6. World Wide Applications</h6>
                <br />

            </dt>
            <dd class="d-flex flex-column" style="height: 10vh;">
                <!-- <div class="d-flex flex-row   align-items-center ">
                            <div>
                                <label for="RYIT200/500"  class="mx-5 ">RYIT200/500</label>
                            </div>
                            <div>
                                <input type="checkbox" id="RYIT200/500" (change)="checboxchange($event)" [(ngModel)]="isRYIT200500" />
        
                            </div>
                        </div>
                        <br/>
                        <div class="d-flex flex-row   align-items-center =">
                            <div>
                                <label for="RYIT600/800" class="mx-5 ">RYIT600/800</label>
        
                            </div>
                            <div>
                                <input type="checkbox" id="RYIT600/800" (change)="checboxchange($event)" [(ngModel)]="isRYIT600800" />
        
                            </div>
                        </div> -->
            </dd>


        </dl>

    </div>
</div>