<div class="ConfigurationTypes_textpadding">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/studentDashboard">Student Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Course Details</li>
        </ol>
    </nav>

    <div class="card  bg-secondary">
        <div class="card-header text-white bg-secondary ">
            RYIT 200/500
        </div>
        <div class="card-body bg-white py-2 ">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-justify mb-2">RYIT200/500 Free Online Traditional Yoga & Meditation Teacher Training
                        Based
                        on Darshanas.</p>
                    <div class="d-flex flex-row align-items-center">
                        <mat-icon>date_range</mat-icon>&nbsp;
                        <h6>Sept 16th,2022 - Dec 16th,2022</h6>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>


        </div>
    </div>

    <div class="card bg-secondary">
        <div class="card-header text-white bg-secondary">
            Pratice sessions
        </div>
        <div class="card-body bg-white py-2">
            <div class="row">
                <div class="col-md-7">

                    <h6 class="mb-1">Practice session Description</h6>
                    <p class="text-justify">It is a long established fact that a reader will be distracted by the
                        readable content of a
                        page when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distrubtion of letters.</p>
                    <div class="">
                        <iframe width="650" height="500" src="https://www.youtube.com/embed/Cm4pzMI9kaw"
                            title="Traditional Yoga Practice for Beginners | Level: Basic | Ajan Yogi" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="bg-secondary ">
                            <mat-panel-title class="text-white">
                                December Class
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <!-- Classes -->
                        <div class="d-flex flex-column ">
                            <div class="border-bottom py-2">
                                <h6>Live Class</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom py-2">
                                <h6>Practice Session</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-bottom py-2">
                                <h6>Classes</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-bottom py-2">
                                <h6>Practice Session</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                </div>
                                <br />
                                <div class="">
                                    <i class="fa-solid fa-file-pdf fs-5" matTooltip="Pdf" (click)="savePdf('data')"></i>
                                    <i class="fa-solid fa-file-word fs-5 mx-3" matTooltip="Word"
                                        (click)="saveWord('data')"></i>
                                    <i class="fa-solid fa-file-image fs-5" matTooltip="File"
                                        (click)="saveFile('data')"></i>
                                </div>
                            </div>

                        </div>


                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="bg-secondary ">
                            <mat-panel-title class="text-white">
                                November Class
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <!-- Classes -->
                        <div class="d-flex flex-column ">
                            <div class="border-bottom py-2">
                                <h6>Live Class</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom py-2">
                                <h6>Practice Session</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-bottom py-2">
                                <h6>Classes</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-bottom py-2">
                                <h6>Practice Session</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                </div>
                                <br />
                                <div class="">
                                    <i class="fa-solid fa-file-pdf fs-5" matTooltip="Pdf" (click)="savePdf('data')"></i>
                                    <i class="fa-solid fa-file-word fs-5 mx-3" matTooltip="Word"
                                        (click)="saveWord('data')"></i>
                                    <i class="fa-solid fa-file-image fs-5" matTooltip="File"
                                        (click)="saveFile('data')"></i>
                                </div>
                            </div>

                        </div>


                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="bg-secondary ">
                            <mat-panel-title class="text-white">
                                October Class
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <!-- Classes -->
                        <div class="d-flex flex-column ">
                            <div class="border-bottom py-2">
                                <h6>Live Class</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom py-2">
                                <h6>Practice Session</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-bottom py-2">
                                <h6>Classes</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="bg-light rounded p-2">Glimpses</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="bg-light rounded p-2">Short Video</span>
                                    </div>
                                </div>
                            </div>

                            <div class="border-bottom py-2">
                                <h6>Practice Session</h6>
                                <div class="mt-2 row             ">
                                    <div class="col-md-6 d-flex flex-row align-items-center">
                                        <mat-icon>date_range</mat-icon>&nbsp;
                                        <p>Sept 16th,2022</p>
                                    </div>
                                </div>
                                <br />
                                <div class="">
                                    <i class="fa-solid fa-file-pdf fs-5" matTooltip="Pdf" (click)="savePdf('data')"></i>
                                    <i class="fa-solid fa-file-word fs-5 mx-3" matTooltip="Word"
                                        (click)="saveWord('data')"></i>
                                    <i class="fa-solid fa-file-image fs-5" matTooltip="File"
                                        (click)="saveFile('data')"></i>
                                </div>
                            </div>

                        </div>


                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </div>
</div>