<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-4">
                <!-- <a> <img src="assets/images/logo-income.svg" class="logo-img" alt="logo" /> </a> -->
            </div>
        </div>
    </div>
</nav>

<!-- Masthead-->
<div class="container-fluid">
    <div class="container-padding">
        <div class="signup-content row">
            <div class="signup-form col-md-5 pt-5 mt-5 order-2">
                <!-- <h2 class="form-title">Traditional yoga </h2> -->
                <form class="login-form " [formGroup]="LoginForm" (ngSubmit)="onSignIn()">
                    <h3> User Login </h3>
                    <div *ngIf="errorFlag">
                        <mat-error>{{authorizationMessage}}</mat-error>
                    </div><br>
                    <div class="form-group inrne-addon ">
                        <label> Login ID </label>
                        <mat-form-field appearance="outline" autofill="none">
                            <input matInput type="text" autocomplete="off" name="email" id="email"
                                placeholder=" Login ID" formControlName="email">
                            <span matPrefix> <i class="far fa-user" aria-hidden="true"></i> </span>
                            <mat-error *ngFor="let validation of validation_messages.email_id">
                                <span *ngIf="LoginForm.get('email')?.hasError(validation.type)">
                                    {{ validation.message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div> <br>
                    <div class="form-group inner-addon">
                        <label> Password </label>
                        <mat-form-field appearance="outline" autofill="none">
                            <input matInput type="password" name="password" id="password" placeholder="Password"
                                formControlName="password" />
                            <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
                            <mat-error *ngFor="let validation of validation_messages.password">
                                <span *ngIf="LoginForm.get('password')?.hasError(validation.type)">
                                    {{ validation.message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="form-group form-button float-right">
                        <button type="submit" name="signup" id="signup" class="btn btn-outline-secondary btn-rounded d-inline-block ">
                            <!-- <i class="fa fa-sign-in-alt mt-2 " aria-hidden="true"></i> -->
                            <span>Login</span>
                        </button>
                    </div>
                    <div class="form-group form-button float-left">
                        <button type="button" name="register" id="register" class="btn btn-outline-secondary btn-rounded d-inline-block" (click)="onRegister()">
                            <!-- <i class="fa fa-user-plus mt-2" aria-hidden="true"></i> -->
                            <span>Member Register</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="signup-image col-md-5 mt-5 order-1">
                <figure>
                    <img src="assets/images/Traditional Yoga.png " alt="sing up image " width="75% ">
                </figure>
            </div>
        </div>
    </div>
</div>