/* input {
    height: 45px;
} */

.login-button {
    background-color:#c95757;
    background-image: linear-gradient(to right, #424242, #c95757);
    color: rgb(255, 255, 255);

    height: 47px;
    margin-right: 0px;
}