<div class="ConfigurationTypes_textpadding ">
    <h3 class="mb-4 pl-2 text-secondary ">Parameters</h3>

    <div class="bg-white  border p-4">

        <div class="row border-bottom">
            <div class="col-md-4  d-flex">

                <div class="w-50">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Course</mat-label>
                        <mat-select [(ngModel)]="coursename" (ngModelChange)="coursechange()">
                            <mat-option *ngFor="let course of courselist" [value]="course.coursesId">
                                {{course.coursesName}}</mat-option>
                        </mat-select>
                        <span class="text-danger" *ngIf="courserror">
                            Select Course
                        </span>
                    </mat-form-field>
                </div>
                <div class="w-25">
                    <button type="button" (click)="gobutton()"
                        class="btn btn-outline-secondary btn-go btn-rounded d-inline-block  ml-2 mt-3 ">
                        Go 
                    </button>
                </div>
            </div>

            <div class="col" *ngIf="displaycontent">

                <h4 class="text-center mt-4">Performance Rating</h4>
            </div>

        </div>

        <br />
        <table class="w-100 p-5 " *ngIf="displaycontent">

            <thead class="border-bottom">
                <tr class="">
                    <th class="">&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="">Good</th>

                    <th>Average</th>
                    <th>Poor</th>
                    <th>Red Alert</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <br />
            <!-- <form [formGroup]="Ratings"   > -->

            <tbody *ngFor="let element of parameters">


                <tr class="">


                    <td>
                        <h6>{{element.performaceName}}</h6>
                    </td>
                    <td>
                        <p>:&nbsp;</p>
                    </td>
                    <td class=" ">
                        <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingGood"
                            (change)="keypressvalue(element.id)" required>
                    </td>
                    <td class="">
                        <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingAvearage"
                            (change)="keypressvalue(element.id)" required>
                    </td>
                    <td class="">
                        <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingPoor"
                            (change)="keypressvalue(element.id)" required>
                    </td>
                    <td class="">
                        <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingRedAlert"
                            (change)="keypressvalue(element.id)" required>
                    </td>
                    <td class="">
                        <mat-slide-toggle [checked]="IsActiveorNot(element.active)"
                            (change)="onActivateParameter(element.id)"></mat-slide-toggle>
                        <p>Disable</p>

                    </td>


                </tr>

                <br />


            </tbody>


        </table>


    </div>

</div>