<div class="ConfigurationTypes_textpadding ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/addCourse">Course Management</a></li>

            <li class="breadcrumb-item active" aria-current="page">Parameters</li>
        </ol>
    </nav>
    <br />
    <div class="card  bg-secondary">
        <div class="card-header text-white bg-secondary">
            Parameters

        </div>
        <div class="card-body bg-white  py-2">
            <div class="row">
                <div class=" ">
                    <div class=" row  align-items-center">
                        <label>Course</label>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-select [(ngModel)]="selectCourse" (ngModelChange)="courseChange()">
                                    <mat-option *ngFor="let course of courselist" [value]="course.coursesId">
                                        {{course.coursesName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error class="mat-error" *ngIf="courseError">
                                Course is mandatory
                            </mat-error>
                        </div>
                        <div class="col-md-3">
                            <!-- <button type="button" (click)="gobutton()"
                                class="btn btn-outline-secondary btn-go btn-rounded d-inline-block m-2 border border-dark">
                                Go
                            </button> -->
                            <button type="button" (click)="onClkCourse()"
                                class="btn btn-outline-secondary  btn-rounded d-inline-block m-2 border border-dark">
                                Submit
                            </button>
                        </div>
                    </div>
                    <mat-error class="mat-error" *ngIf="performanceError">
                        No Data is present
                    </mat-error>
                    <div class="" *ngIf="displayContent">
                        <div class="col-md-5">
                            <h4 class="text-center">Performance Rating</h4>
                        </div>
                        <hr/>
                        <table mat-table [dataSource]="sectionDataB" matSort class="mat-elevation-z8 mat-datagrid w-100"
                            aria-label="parameters">
                            <ng-container matColumnDef="parameterName">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <!-- <label mat-sort-header>
                                        Parameter Name
                                    </label> -->
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.parametersName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="rating">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <!-- <label mat-sort-header>
                                        rating
                                    </label> -->
                                </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.rating}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <input class="border w-75" autocomplete="off" [(ngModel)]="element.rating"
                                        (change)="ratingSectionB(element)">
                                </td>

                            </ng-container>
                            <ng-container matColumnDef="active">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <!-- <label mat-sort-header>
                                        Actions
                                    </label> -->
                                </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.active}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <mat-slide-toggle [checked]="element.active == 'Y'? true : false"
                                        (change)="onActiveParameterB(element,$event)">
                                    </mat-slide-toggle>
                                    <span>{{element.active == 'Y'? "Enable" : "Disable"}}</span>
                                </td>
                                <!-- <td mat-cell *matCellDef="let element">
                                    <mat-slide-toggle [checked]="IsActiveorNot(element.active)"
                                        (change)="onActivateParameter(element.id)"></mat-slide-toggle>
                                    <p>Disable</p>
                                </td> -->
                            </ng-container>
                            <!-- <tr mat-header-row *matHeaderRowDef="sectionColumnsB"></tr> -->
                            <tr mat-row *matRowDef="let row; columns: sectionColumnsB;"></tr>
                        </table>
                        <table mat-table [dataSource]="sectionDataA" matSort class="mat-elevation-z8 mat-datagrid w-100"
                            aria-label="parameters">
                            <ng-container matColumnDef="parameterName">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <label mat-sort-header>
                                        Parameter Name
                                    </label>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.parametersName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ratingGood">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <label mat-sort-header>
                                        Good
                                    </label>
                                </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.ratingGood}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingGood"
                                        (change)="ratingSectionA(element)">
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ratingAvearage">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <label mat-sort-header>
                                        Avearage
                                    </label>
                                </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.ratingAvearage}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingAvearage"
                                        (change)="ratingSectionA(element)">
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ratingPoor">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <label mat-sort-header>
                                        Poor
                                    </label>
                                </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.ratingPoor}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingPoor"
                                        (change)="ratingSectionA(element)">
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ratingRedAlert">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <label mat-sort-header>
                                        Red Alert
                                    </label>
                                </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.ratingRedAlert}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <input class="border w-75" autocomplete="off" [(ngModel)]="element.ratingRedAlert"
                                        (change)="ratingSectionA(element)">
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="active">
                                <th mat-header-cell *matHeaderCellDef scope="col">
                                    <label mat-sort-header>
                                        Actions
                                    </label>
                                </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.active}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <mat-slide-toggle [checked]="element.active == 'Y'? true : false"
                                        (change)="onActiveParameterA(element,$event)">
                                    </mat-slide-toggle>
                                    <span>{{element.active == 'Y'? "Enable" : "Disable"}}</span>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="sectionColumnsA"></tr>
                            <tr mat-row *matRowDef="let row; columns: sectionColumnsA;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>