<div class="ConfigurationTypes_textpadding ">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         
        
          <li class="breadcrumb-item active" aria-current="gratitudemessage"><a href="gratitudemessage">View All My Gratitude Message</a></li>
      </ol>
  </nav>
 
<div class="card bg-white " *ngIf="displaycontent">
  <div class="card-header text-white bg-secondary">
      All My Gratitude Message View
  </div>
  <div class="row p-3" >
      <table class="">
          <tr class="bg-danger text-white">
              <th class="col-md-1">S.no</th>
              <th class="col-md-4">submission Date</th>
              <th class="col-md-7">Message</th>
          </tr>
          <tr class="">
              <td class="col-md-1">{{selectedItem.sno}}</td>
              <td class="col-md-4">{{selectedItem.SubmissionDate}}</td>
              <td class="col-md-7 text-left"> {{selectedItem.Message}}</td>
          </tr>
      </table>
      <div class="col-md-12 h-100 " >
          <h6 style="background-color: grey;">Response From Mentor</h6>
          <p>{{selectedItem.mentor_response}}</p>
      </div>
      <div class="col-md-12" >
          <h6 style="background-color: grey;">Response From Chief Mentor</h6>
          <p>{{selectedItem.chief_response}}</p>
      </div>
     
  </div>
  </div>


      
      <div class="card ">
        <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Courses</mat-label>
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>
  <h5 class="card-header text-white bg-secondary">View All My Gratitude Message</h5>
  <table mat-table [dataSource]="filterDataTwo.datasourceTwo" matSort class="mat-elevation-z8 mat-datagrid w-100"
    aria-label="users">

    <ng-container matColumnDef="sno" class="col-1">
      <th mat-header-cell *matHeaderCellDef class="col-1">  <label mat-sort-header>
        S.No</label> 
        <input type="text" (keyup)="updatePagination()"
        [(ngModel)]="filterDataTwo.filterColumnNames[0].Value" [filter]="filterData" /></th>
        <td mat-cell *matCellDef="let i=index"> {{pageno +i}} </td>
    </ng-container>

    <ng-container matColumnDef="Duedate" class="col-2">
      <th mat-header-cell *matHeaderCellDef class="col-2"> <label mat-sort-header>Due Date</label>
        <input type="text" (keyup)="updatePagination()"
        [(ngModel)]="filterDataTwo.filterColumnNames[1].Value" [filter]="filterData" /></th>
      <td mat-cell *matCellDef="let element" class="col-2 text-left"> {{element.Duedate| date:'dd-MMM-YYYY'}} </td>
    </ng-container>

    <ng-container matColumnDef="SubmissionDate" class="col-3">
      <th mat-header-cell *matHeaderCellDef class="col-3"> <label mat-sort-header>Date Of Submission</label>
        <input type="text" (keyup)="updatePagination()"
        [(ngModel)]="filterDataTwo.filterColumnNames[2].Value" [filter]="filterData" /> </th>
      <td mat-cell *matCellDef="let element" class="col-3 text-left"> {{element.SubmissionDate}} </td>
    </ng-container>

    <ng-container matColumnDef="status" >
      <th mat-header-cell *matHeaderCellDef class="col-4"><label mat-sort-header> Status</label>
        <input type="text" (keyup)="updatePagination()"
        [(ngModel)]="filterDataTwo.filterColumnNames[3].Value" [filter]="filterData" /></th>
      <td mat-cell *matCellDef="let element" class="col-4 text-center"> {{element.status}} </td>
    </ng-container>



    <ng-container matColumnDef="view" class="col-2">
      <th mat-header-cell *matHeaderCellDef class="col-3 text-center"> <label mat-sort-header>View Message</label>  <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterDataTwo.filterColumnNames[3].Value" [filter]="filterData" /></th>
     
     
      
          <td mat-cell *matCellDef="let element" class="col-4 text-center">   <span matTooltip="View" (click)="view(element)" >
              <i class="fa-solid fa-eye"></i></span> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo;"></tr>
  </table>
  <div class="bg-white d-flex  flex-row justify-content-end card-body">
    <mat-paginator class="card-body" [pageSizeOptions]="[10,25, 50, 100,150,200]"
    (page)="onpaginatechange($event)" aria-label="Select page">
</mat-paginator>

</div><br>
<button  class="col-2 btn btn-outline-secondary btn-rounded ">
  Generate Reports 
</button>



</div>
