<div class="ConfigurationTypes_textpadding">

    <div class="card border-light" *ngIf="isAddModuleForm">
        <div class="card-header text-white bg-secondary">
            Add Menu
        </div>
        <form [formGroup]="AddModuleForm" (ngSubmit)="onModuleSubmit()">
            <div class="card-body bg-white">
                <div class="row">
                    <div class="col-md-4    ">
                        <div class="mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Menu Name</mat-label>
                                <input matInput autocomplete="off" formControlName="menuName" required>
                                <mat-error *ngIf="AddModuleForm.controls['menuName'].hasError('required')">
                                    Menu name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="mb-3 mt-1 pt-1">
                            <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                                Submit
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
                                (click)="onCancel()"> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h4> Menu List
        <span class="float-end mb-2">
            <button type="button" class="btn btn-outline-secondary btn-rounded"
                *ngIf="!isAddModuleForm && pagePermissions.Add" (click)="onAddMenu()"> Add Menu </button>
        </span>
        <div style="height:10px">
            <div *ngIf="errorMessage" [ngStyle]="{'color': errorType == 'Error' ? 'red':'green'}"
                class="notificationMessage">{{Message}}</div>
        </div>
    </h4>
    <div class="clearfix"></div>

    <table mat-table [dataSource]="this.filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
        aria-label="menu">

        <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                <label mat-sort-header>
                    S.No
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[0].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="menuName">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Menu Name
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element"> {{element.moduleName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Actions
                </label>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.status == 'Y'? true : false"
                    (change)="onActivateMenu(element,$event)">
                </mat-slide-toggle>
                <span matTooltip="Edit" *ngIf="!!pagePermissions.Edit" (click)="onEditModule(element)">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </span>
                <span matTooltip="Delete" style="cursor: pointer;" *ngIf="!!pagePermissions.Delete"
                    (click)="onModuleDelete(element)"> <i class="far fa-trash-alt" aria-hidden="true"></i>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25,50,100]" aria-label="Select page">
    </mat-paginator>
</div>