<div class="ConfigurationTypes_textpadding">
    <div class="card border-light">
        <div class="card-header border-0">
            <h3 class="d-inline-block"> View Student </h3>
            <form class=" d-inline-block float-end" [formGroup]="searchStudentForm" (ngSubmit)="onStudentSearch()">
                <mat-form-field appearance="fill">
                    <mat-label>Select Student</mat-label>
                    <mat-select placeholder="Select Student" formControlName="studentId" disableOptionCentering
                        required>
                        <mat-option *ngFor="let student of StudentList" [value]="student.studentId"
                            (click)="onSelectStudent(student) ">
                            {{student.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchStudentForm.controls['studentId'].hasError('required')">
                        Student is to be selected
                    </mat-error>
                </mat-form-field>
            </form>
        </div>

        <div class="student-profile ty-tabs" *ngIf="studentSelectStatus" style="background:#f5f5f5;">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Performance Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"> Donations </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"> e-Purchase Information </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab"> Volenteering Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab"> Course Profile </a>
                </li>
            </ul>

            <div class="tab-content" style="background:#f5f5f5;">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-white">
                                    <div class="row pt-4 pl-4 pb-1">
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.studentId}}</h6>
                                            <p> Student id</p>
                                        </div>
                                        <div class="col-md-8">
                                            <h6>{{studentProfile.roleId}}</h6>
                                            <p>Role</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-4">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-usericon.png"
                                                    width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.name}}</h6>
                                                <p>Name</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.professionId}}</h6>
                                            <p>Profession</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.qulificationId}}</h6>
                                            <p>Educational details</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-4">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-information.png"
                                                    width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.genderId}}</h6>
                                                <p>Gender</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.age}}</h6>
                                            <p>Age</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.mobile}}</h6>
                                            <p>Mobile</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-location.png"
                                                    width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.address}}</h6>
                                                <p>address</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-8">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-mail.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.emailId}}</h6>
                                                <p>Email</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.regesiterDate}}</h6>
                                            <p>member registered on</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-ip.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.registedIpAddress}}</h6>
                                                <p>registered from IP address</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3"
                                                style="width:50px; display:inline-block">
                                                <img src="../../../../assets/images/profile-ip.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <mat-radio-group aria-label="Select an option" class="d-inline-block">
                                                    <mat-radio-button value="1">Active </mat-radio-button> &nbsp; &nbsp;
                                                    &nbsp;
                                                    <mat-radio-button value="2">Mentor Removed </mat-radio-button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <mat-radio-button value="3">Withdrawn </mat-radio-button> &nbsp;
                                                    &nbsp; &nbsp;
                                                    <mat-radio-button value="4">System removed </mat-radio-button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <mat-radio-button value="5">Reprovisioned (Only for admin & chief
                                                        mentor)</mat-radio-button> &nbsp; &nbsp; &nbsp;
                                                </mat-radio-group>
                                                <p> Change Status</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-note.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.courseName}}</h6>
                                                <p>Course Name</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <form class="row p-5" [formGroup]="courseForm" (ngSubmit)="onCourseSubmit()">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select Course</mat-label>
                                    <mat-select formControlName="course" required>
                                        <mat-option *ngFor="let course of CourseList" [value]="course.courseId">
                                            {{course.courseName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3 mt-1 pt-1 float-end">
                                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                                    Submit
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
                                    (click)="onCourseCancel()"> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>

                    <table class="table table-bordered" style="vertical-align:text-top">
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2">Monitor your own performance</th>
                                <th scope="col" rowspan="2">Performance Bar</th>
                                <th scope="col" colspan="2">Week 1</th>
                                <th scope="col" colspan="2">Week 2</th>
                                <th scope="col" colspan="2">Week 3</th>
                                <th scope="col" colspan="2">Week 4</th>
                                <th scope="col" rowspan="2">Cumilative</th>
                                <th scope="col" rowspan="2">Performace</th>
                            </tr>
                            <tr>

                                <th scope="col">Hours</th>
                                <th scope="col"> % </th>
                                <th scope="col">Hours</th>
                                <th scope="col"> % </th>
                                <th scope="col">Hours</th>
                                <th scope="col"> % </th>
                                <th scope="col">Hours</th>
                                <th scope="col"> % </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Total No of hours of live class</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td rowspan="11">Read alert poor average good</td>
                            </tr>

                            <tr>
                                <th scope="row">Total No of hours of live class</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                            </tr>

                            <tr>
                                <th scope="row">Total No of hours of live class</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="clearfix"></div>

                    <div class="courses-live-class">
                        <h5 class="pt-3 pl-2 mb-2"> Courses Live Class & Courses suggested practice session </h5>
                        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 mat-datagrid w-100">

                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>

                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-9">
                                <div class="bg-white">
                                    <h5 class="pt-3 pl-4"> Donations </h5>
                                    <div class="row pt-4 pl-4 pb-1">
                                        <table mat-table [dataSource]="donationsData"
                                            class="mat-elevation-z8 mat-datagrid w-100">
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="SNo">
                                                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                                                <td mat-cell *matCellDef="let i = index">
                                                    {{i+1}}
                                                </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Date">
                                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="AmountDonated">
                                                <th mat-header-cell *matHeaderCellDef> AmountDonated </th>
                                                <td mat-cell *matCellDef="let element"> {{element.amountDonated}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="Description">
                                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="ModeofPayment">
                                                <th mat-header-cell *matHeaderCellDef> ModeofPayment </th>
                                                <td mat-cell *matCellDef="let element"> {{element.modeOfPayment}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="donationsColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: donationsColumns;"></tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-4" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>

                            <div class="col-md-9">
                                <div class="bg-white">
                                    <h5 class="pt-3 pl-4"> e-Purchases Information <span class="float-right">
                                            <div class="btn btn-outline-secondary btn-rounded d-inline-block"
                                                data-toggle="modal" data-target="#purchases"> Add Purchases</div>
                                        </span></h5>
                                    <div class="clearfix"></div>
                                    <div class="row pt-4 pl-4 pb-1">
                                        <table mat-table [dataSource]="ePurchasesdata"
                                            class="mat-elevation-z8 mat-datagrid w-100">

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="SNo">
                                                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                                                <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Date">
                                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="PurchesedAmount">
                                                <th mat-header-cell *matHeaderCellDef> PurchesedAmount </th>
                                                <td mat-cell *matCellDef="let element"> {{element.purchaseAmount}}
                                                </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="ProductName">
                                                <th mat-header-cell *matHeaderCellDef> ProductName </th>
                                                <td mat-cell *matCellDef="let element"> {{element.productPurchase}}
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="ePurchasesColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: ePurchasesColumns;"></tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-5" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-white">
                                    <h5 class="ml-3"> Category of Volunteering <span class="float-right">
                                            <div class="btn btn-outline-secondary btn-rounded d-inline-block"
                                                data-toggle="modal" data-target="#Volunteer"> Add Volunteer</div>
                                        </span> </h5>
                                    <div class="clearfix"></div>
                                    <div class="row pt-4 pl-4 pb-1">
                                        <table mat-table [dataSource]="volunterData"
                                            class="mat-elevation-z8 mat-datagrid w-100">

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="SNo">
                                                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                                                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Category">
                                                <th mat-header-cell *matHeaderCellDef> Category </th>
                                                <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="Courses">
                                                <th mat-header-cell *matHeaderCellDef> Courses </th>
                                                <td mat-cell *matCellDef="let element"> {{element.courseId}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="StartDate">
                                                <th mat-header-cell *matHeaderCellDef> StartDate </th>
                                                <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="EndDate">
                                                <th mat-header-cell *matHeaderCellDef> EndDate </th>
                                                <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="SeervedAs">
                                                <th mat-header-cell *matHeaderCellDef> SeervedAs </th>
                                                <td mat-cell *matCellDef="let element"> {{element.servedAs}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="noMembers">
                                                <th mat-header-cell *matHeaderCellDef> noMembers </th>
                                                <td mat-cell *matCellDef="let element"> {{element.noOfMembers}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="volunterColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: volunterColumns;"></tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane " id="tabs-6" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="row pt-4 pl-3 pb-1 bg-white">
                                    <h5 class="pb-3"> Courses Profile </h5>
                                    <hr>
                                    <table mat-table [dataSource]="coursesProfileData"
                                        class="mat-elevation-z8 mat-datagrid w-100">

                                        <ng-container matColumnDef="SNo">
                                            <th mat-header-cell *matHeaderCellDef> S.No </th>
                                            <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="CourseName">
                                            <th mat-header-cell *matHeaderCellDef> Course Name </th>
                                            <td mat-cell *matCellDef="let element">
                                                ({{element.CourseName}})
                                                {{element.CourseDiscription}}
                                                <br>
                                                <b>
                                                    {{element.CourseStartDate | date }} -
                                                    {{element.CourseEndDate | date }}
                                                </b>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="AdmissionsStatus">
                                            <th mat-header-cell *matHeaderCellDef> Admissions Status </th>
                                            <td mat-cell *matCellDef="let element"> {{element.AdmissionsStatus}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="CompletionStatus">
                                            <th mat-header-cell *matHeaderCellDef> Completion Status </th>
                                            <td mat-cell *matCellDef="let element"> {{element.CompletionStatus}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="coursesProfileColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: coursesProfileColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="purchases" tabindex="-1" aria-labelledby="purchasesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Purchese</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">

                            <input type="date" class="mt-3" placeholder="select Date">
                            <!--   <mat-form-field color="primary" appearance="fill">
               <mat-label>Select Date</mat-label>
                <input matInput formControlName="fromdate" [matDatepicker]="picker" [disabled]="true">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary" [disabled]="false"></mat-datepicker>
                <div
                    *ngIf="coursebanner.controls['fromdate'].invalid && (coursebanner.controls['fromdate'].dirty || coursebanner.controls['fromdate'].touched)">
                    <mat-error [hidden]=" !coursebanner.get('fromdate')?.hasError('required')  ">
                        Please Add Date
                    </mat-error>
                </div> 
               
                </mat-form-field>-->
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill" id="field">
                                <mat-label>Purchese Amount</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>List of Products </mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary btn-rounded"
                        data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-secondary btn-rounded">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="Volunteer" tabindex="-1" aria-labelledby="VolunteerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Volunteer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Courses</mat-label>
                                <mat-select formControlName="course" required>
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Courses</mat-label>
                                <input matInput autocomplete="off" formControlName="Courses" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">

                            <input type="date" class="mt-3" placeholder="StartDate ">
                            <!--   <mat-form-field color="primary" appearance="fill">
               <mat-label>Select Date</mat-label>
                <input matInput formControlName="fromdate" [matDatepicker]="picker" [disabled]="true">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary" [disabled]="false"></mat-datepicker>
                <div
                    *ngIf="coursebanner.controls['fromdate'].invalid && (coursebanner.controls['fromdate'].dirty || coursebanner.controls['fromdate'].touched)">
                    <mat-error [hidden]=" !coursebanner.get('fromdate')?.hasError('required')  ">
                        Please Add Date
                    </mat-error>
                </div> 
               
                </mat-form-field>-->
                        </div>
                        <div class="col-md-4">

                            <input type="date" class="mt-3" placeholder="EndDate ">
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill" id="field">
                                <mat-label>No of Members Managed</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label> Served as </mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary btn-rounded"
                        data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-secondary btn-rounded">Save changes</button>
                </div>
            </div>
        </div>
    </div>