<div class="ConfigurationTypes_textpadding">
    <div class="card border-light">
        <div class="card-header border-0">
            <h3 class="d-inline-block"> View Student </h3>
            <form class=" d-inline-block float-end" [formGroup]="searchStudentForm" (ngSubmit)="onStudentSearch()">
                <mat-form-field appearance="fill">
                    <mat-label>Select Student</mat-label>
                    <mat-select placeholder="Select Student" formControlName="studentId" disableOptionCentering
                        required>
                        <mat-option *ngFor="let student of StudentList" [value]="student.studentId"
                            (click)="onSelectStudent(student) ">
                            {{student.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchStudentForm.controls['studentId'].hasError('required')">
                        Student is to be selected
                    </mat-error>
                </mat-form-field>
            </form>
        </div>

        <div class="student-profile ty-tabs" *ngIf="studentSelectStatus" style="background:#f5f5f5;">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Performance Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"> Donations </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"> e-Purchase Information </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab"> Volenteering Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab"> Course Profile </a>
                </li>
            </ul>

            <div class="tab-content" style="background:#f5f5f5;">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-white">
                                    <div class="row pt-4 pl-4 pb-1">
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.studentId}}</h6>
                                            <p> Student id</p>
                                        </div>
                                        <div class="col-md-8">
                                            <h6>{{studentProfile.roleId}}</h6>
                                            <p>Role</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-4">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-usericon.png"
                                                    width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.name}}</h6>
                                                <p>Name</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.professionId}}</h6>
                                            <p>Profession</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.qulificationId}}</h6>
                                            <p>Educational details</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-4">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-information.png"
                                                    width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.genderId}}</h6>
                                                <p>Gender</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.age}}</h6>
                                            <p>Age</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.mobile}}</h6>
                                            <p>Mobile</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-location.png"
                                                    width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.address}}</h6>
                                                <p>address</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-8">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-mail.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.emailId}}</h6>
                                                <p>Email</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h6>{{studentProfile.regesiterDate}}</h6>
                                            <p>member registered on</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-ip.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.registedIpAddress}}</h6>
                                                <p>registered from IP address</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row  pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3"
                                                style="width:50px; display:inline-block">
                                                <img src="../../../../assets/images/profile-ip.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <mat-radio-group aria-label="Select an option" class="d-inline-block">
                                                    <mat-radio-button value="1">Active </mat-radio-button> &nbsp; &nbsp;
                                                    &nbsp;
                                                    <mat-radio-button value="2">Mentor Removed </mat-radio-button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <mat-radio-button value="3">Withdrawn </mat-radio-button> &nbsp;
                                                    &nbsp; &nbsp;
                                                    <mat-radio-button value="4">System removed </mat-radio-button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <mat-radio-button value="5">Reprovisioned (Only for admin & chief
                                                        mentor)</mat-radio-button> &nbsp; &nbsp; &nbsp;
                                                </mat-radio-group>
                                                <p> Change Status</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row pl-4 pb-1">
                                        <div class="col-md-12">
                                            <div class="icon-place d-inline-block align-top pr-3">
                                                <img src="../../../../assets/images/profile-note.png" width="30px" />
                                            </div>
                                            <div class="d-inline-block align-top">
                                                <h6>{{studentProfile.courseName}}</h6>
                                                <p>Course Name</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <form class="row p-5" [formGroup]="courseForm" (ngSubmit)="onCourseSubmit()">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select Course</mat-label>
                                    <mat-select formControlName="course" required>
                                        <mat-option *ngFor="let course of CourseList" [value]="course.courseId">
                                            {{course.courseName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3 mt-1 pt-1 float-end">
                                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                                    Submit
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
                                    (click)="onCourseCancel()"> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>

                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-white">
                                    <h5 class="pt-3 pl-4"> Donations </h5>
                                    <div class="row pt-4 pl-4 pb-1">
                                        <table mat-table [dataSource]="donationsData"
                                            class="mat-elevation-z8 mat-datagrid w-100">
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="SNo">
                                                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                                                <td mat-cell *matCellDef="let i = index">
                                                    {{i+1}}
                                                </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Date">
                                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="AmountDonated">
                                                <th mat-header-cell *matHeaderCellDef> AmountDonated </th>
                                                <td mat-cell *matCellDef="let element"> {{element.amountDonated}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="Description">
                                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="ModeofPayment">
                                                <th mat-header-cell *matHeaderCellDef> ModeofPayment </th>
                                                <td mat-cell *matCellDef="let element"> {{element.modeOfPayment}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="donationsColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: donationsColumns;"></tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-4" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-white">
                                    <h5 class="pt-3 pl-4"> e-Purchases Information</h5>
                                    <div class="row pt-4 pl-4 pb-1">
                                        <table mat-table [dataSource]="ePurchasesdata"
                                            class="mat-elevation-z8 mat-datagrid w-100">

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="SNo">
                                                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                                                <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Date">
                                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="PurchesedAmount">
                                                <th mat-header-cell *matHeaderCellDef> PurchesedAmount </th>
                                                <td mat-cell *matCellDef="let element"> {{element.purchaseAmount}}
                                                </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="ProductName">
                                                <th mat-header-cell *matHeaderCellDef> ProductName </th>
                                                <td mat-cell *matCellDef="let element"> {{element.productPurchase}}
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="ePurchasesColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: ePurchasesColumns;"></tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-5" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-white">
                                    <h5 class="pt-3 pl-4"> Category of Volunteering <span class="float-right">
                                            <div class=" btn btn-secondary"> Add Volunteer</div>
                                        </span> </h5>
                                    <div class="row pt-4 pl-4 pb-1">
                                        <table mat-table [dataSource]="volunterData"
                                            class="mat-elevation-z8 mat-datagrid w-100">

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="SNo">
                                                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                                                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Category">
                                                <th mat-header-cell *matHeaderCellDef> Category </th>
                                                <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="Courses">
                                                <th mat-header-cell *matHeaderCellDef> Courses </th>
                                                <td mat-cell *matCellDef="let element"> {{element.courseId}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="StartDate">
                                                <th mat-header-cell *matHeaderCellDef> StartDate </th>
                                                <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="EndDate">
                                                <th mat-header-cell *matHeaderCellDef> EndDate </th>
                                                <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="SeervedAs">
                                                <th mat-header-cell *matHeaderCellDef> SeervedAs </th>
                                                <td mat-cell *matCellDef="let element"> {{element.servedAs}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="noMembers">
                                                <th mat-header-cell *matHeaderCellDef> noMembers </th>
                                                <td mat-cell *matCellDef="let element"> {{element.noOfMembers}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="volunterColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: volunterColumns;"></tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane " id="tabs-6" role="tabpanel">
                    <div class=" p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card class="example-card">
                                    <p class="text-center">Student images</p>
                                    <div class="profile-pic text-center rounded-circle bg-ty-profile">
                                        <img src="../../../../assets/images/user-profile.png" width="100"
                                            alt="user pic" />
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-9">
                                <div class="row pt-4 pl-3 pb-1 bg-white">
                                    <h5 class="pb-3"> Courses Profile </h5>
                                    <hr>
                                    <table mat-table [dataSource]="coursesProfileData"
                                        class="mat-elevation-z8 mat-datagrid w-100">

                                        <ng-container matColumnDef="SNo">
                                            <th mat-header-cell *matHeaderCellDef> S.No </th>
                                            <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="CourseName">
                                            <th mat-header-cell *matHeaderCellDef> Course Name </th>
                                            <td mat-cell *matCellDef="let element">
                                                ({{element.CourseName}})
                                                {{element.CourseDiscription}}
                                                <br>
                                                <b>
                                                    {{element.CourseStartDate | date }} -
                                                    {{element.CourseEndDate | date }}
                                                </b>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="AdmissionsStatus">
                                            <th mat-header-cell *matHeaderCellDef> Admissions Status </th>
                                            <td mat-cell *matCellDef="let element"> {{element.AdmissionsStatus}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="CompletionStatus">
                                            <th mat-header-cell *matHeaderCellDef> Completion Status </th>
                                            <td mat-cell *matCellDef="let element"> {{element.CompletionStatus}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="coursesProfileColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: coursesProfileColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>