<div class="ConfigurationTypes_textpadding p-5 ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Mapping regions to chief mentor</li>
        </ol>
      </nav>
    <div class="card mt-2">
        <div class="card-header text-white bg-secondary" >
            Mapping regions to chief mentor
      </div>
    <div class="bg-white pt-4 card-body">
        <form class="row d-flex flex-wrap" [formGroup]="searchform"  (ngSubmit)="searchby()" >

       <div class="row mb-4">
        <div class="col-3 ml-3">
          

            <label>Select Course:</label>

                    <mat-form-field appearance="outline" >
                        <mat-select matNativeControl  formControlName="courses" >
                            <mat-option value="" selected></mat-option>
                            <mat-option *ngFor="let item of courseList" [value]="item.coursesId">{{item.coursesName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="searchform.controls['courses'].hasError('required')">
                            Please Select the Course
                          </mat-error>
                    </mat-form-field>
               
        </div>
        
       </div>
       <div class="row mb-2">
        <div class="col-3 ml-3">
           
                <label>Select Regions:</label>

                <mat-form-field appearance="outline" >
                    <mat-select matNativeControl  formControlName="regionname" >
                        <mat-option value="" selected></mat-option>
                        <mat-option *ngFor="let item of regionList" [value]="item.regionId">{{item.regionName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchform.controls['regionname'].hasError('required')">
                        Please Select the Region
                      </mat-error>
                </mat-form-field>
               
         </div>
         
            <div class="col-3">
                <label>Chief mentor name:</label>

                <mat-form-field appearance="outline" >
                    <input matInput autocomplete="off" formControlName="mentorname" required   >
                    <mat-error *ngIf="searchform.controls['mentorname'].hasError('required')">
                        Please Select the Name
                      </mat-error>
                </mat-form-field>
            </div>
            <div class="col-3"> 
                <label>Chief mentor user id</label>

                <mat-form-field appearance="outline" >
                    <input matInput autocomplete="off" formControlName="mentorid" required>
                    <mat-error *ngIf="searchform.controls['mentorid'].hasError('required')">
                        Please Select the Id
                      </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2 mt-3">
                <button mat-button class="btn btn-outline-secondary mt-3  btn-rounded d-inline-block " type="submit">Assign</button>
            </div>
       </div>
    </form>
    </div>
    </div>
    <div class="pt-4">
        <table mat-table [dataSource]="filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
        *ngIf="displaycontent" aria-label="users">
        <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                <label mat-sort-header >
                    S.No
                </label>
                <input type="text" (keyup)="updatePagination()"
                    [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" />
            </th>
            <td mat-cell class="text-center" *matCellDef="let element"> {{element.SNo}} </td>
        </ng-container>

    

        <ng-container matColumnDef="Regionname">

            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                   Region name
                </label>
                <input type="text" (keyup)="updatePagination()"
                    [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" />
            </th>
            <td mat-cell class="text-center" *matCellDef="let element"> {{element.Regionname }} </td>
        </ng-container>

        <ng-container matColumnDef="Chiefmentorname">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Chief mentor name
                </label>
                <input type="text" (keyup)="updatePagination()"
                    [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />
            </th>
            <td mat-cell class="text-center" *matCellDef="let element"> {{element.Chiefmentorname }} </td>
        </ng-container>

        <ng-container matColumnDef="Chiefmentorid">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Chief mentor id
                </label>
                <input type="text" (keyup)="updatePagination()"
                    [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" />
            </th>
            <td mat-cell class="text-center" *matCellDef="let element"> {{element.Chiefmentorid }} </td>
        </ng-container>

      
      
    
     
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="bg-white d-flex  flex-row justify-content-end " *ngIf="displaycontent">
        <mat-paginator class="" [pageSizeOptions]="[ 5,10,25, 50, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
    </div>
</div>