<div class="ConfigurationTypes_textpadding">
    <div class="row">
        <div class="col-md-6 ">
            <!-- <h4>Banners</h4> -->
            <h3 class="mb-4 pl-2 text-secondary">Banners</h3>

        </div>

        <div class="col-md-3 pt-2 ">
            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block m-2 "
                (click)="onAddBanner()">
                <i class="fa-solid fa-archive"></i> Add banner
            </button>
        </div>
        <div class="col-md-3 pt-4">
            <input type="search" id="search" (keyup)="applyFilter($event)" formControlName="" required="true"
                placeholder="search" />
        </div>
    </div><br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-datagrid w-100" matSort>

        <ng-container matColumnDef="bannerId">
            <th mat-header-cell class="col-md-2 pb-1" *matHeaderCellDef>
                <input type="checkbox" style="width: 20px" class="mx-auto" (change)="checkAll($event)">
            </th>
            <td class="col-md-2" *matCellDef="let element">
                <input [checked]="checks" type="checkbox">
            </td>
        </ng-container>

        <ng-container matColumnDef="bannerName">
            <th mat-header-cell class="col-md-4" *matHeaderCellDef mat-sort-header> Banner Name </th>
            <td class="row col-md-6" *matCellDef="let element">
                <div style="display: flex ;">
                    <div> {{element.bannerName}} - <span class="text-success"> Published </span></div>
                </div>

            </td>
        </ng-container>

        <ng-container matColumnDef="categoryId">
            <th mat-header-cell class=" col-md-1 pl-1" *matHeaderCellDef mat-sort-header>Given By</th>
            <td mat-cell class="col-md-3 " *matCellDef="let element" style="margin-left: 40px;">
                {{element.GivenBy || "admin"}}
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell class="col" *matHeaderCellDef mat-sort-header> Date of add </th>
            <td mat-cell class="col" *matCellDef="let element">
                Last Modified<br> {{element.Comments || "at Wed 2 2017"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Action">
            <th mat-header-cell class="col" *matHeaderCellDef mat-sort-header>Action </th>
            <td mat-cell class="col" *matCellDef="let element">
                <div style="display: flex ; ">
                    <a class="nav-link active text-blue" aria-current="page" href="#">
                        <i class="fa-solid fa-pen-to-square" matTooltip="Edit"
                            aria-label="Button that displays a tooltip when focused or hovered over"></i>
                    </a>
                    <a class="nav-link active text-danger " aria-current="page" href="#">
                        <i class="fa-solid fa-trash" matTooltip="Delete"
                            aria-label="Button that displays a tooltip when focused or hovered over"></i>
                    </a>
                    <a class="nav-link active text-primary" aria-current="page" href="#">
                        <i class="fa-solid fa-eye  " matTooltip="View"
                            aria-label="Button that displays a tooltip when focused or hovered over"></i>
                    </a>
                    <a class="nav-link active " aria-current="page" href="#">
                        <i class="fa-sharp fa-solid fa-floppy-disk" matTooltip="Draft"
                            aria-label="Button that displays a tooltip when focused or hovered over"></i>
                    </a>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table><br>

    <div class="row">
        <div class="col">
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons="" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>