<div class="ConfigurationTypes_textpadding">
    <div class="row">
        <div class="col-md-6 ">
            <h4>Banners</h4>
        </div>

        <div class="col-md-3 pt-2 ">
            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block m-2 " (click)="onAddBanner()">
                <i class="fa-solid fa-folder"></i> Add banner
            </button>
        </div>
        <div class="col-md-3 pt-4">
            <input type="search" id="search" formControlName="" required="true" placeholder="search" />
        </div>
    </div><br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-datagrid w-100" matSort>

        <ng-container matColumnDef="bannerId">
            <th mat-header-cell class="col-md-2 pt-4" *matHeaderCellDef> 
                <input type="checkbox" style="width: 20px" class="mx-auto">
            </th>
            <td class="col-md-2" *matCellDef="let element">
                <input type="checkbox">
            </td>
        </ng-container>

        <ng-container matColumnDef="bannerName">
            <th mat-header-cell class="col-md-6" *matHeaderCellDef mat-sort-header> Date of Blacklist</th>
            <td class="row col-md-6" *matCellDef="let element">
                <div style="display: flex ;">
                    <div> {{element.bannerName}} - <span class="text-success"> Published </span></div>
                </div>
                <div style="display: flex ; ">
                    <a class="nav-link active text-blue" aria-current="page" href="#">
                        <i class="fa-solid fa-pen-to-square"></i> 
                    </a>
                    <a class="nav-link active text-danger " aria-current="page" href="#">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <a class="nav-link active text-primary" aria-current="page" href="#">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a class="nav-link active " aria-current="page" href="#">
                        <i class="fa-sharp fa-solid fa-floppy-disk"></i>
                    </a>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="categoryId">
            <th mat-header-cell class="col-md-3 pl-1" *matHeaderCellDef mat-sort-header>Given By</th>
            <td mat-cell class="col-md-3 " *matCellDef="let element" style="margin-left: 40px;"> 
                {{element.GivenBy || "admin"}}
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell class="col" *matHeaderCellDef mat-sort-header> Comments</th>
            <td mat-cell class="col" *matCellDef="let element">
                Last Modified<br> {{element.Comments || "at Wed 2 2017"}} 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table><br>

    <div class="row">
        <div class="col">
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons="" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>