<div class="ConfigurationTypes_textpadding p-5 bg-light">
    <h3 class="mb-5 pl-2"> Create Pratice Library </h3>

    <div class="card border-light pt-3 ">
        <div class="pl-3 d-flex flex-row flex-wrap  ">
            <div class="w-25 me-5">
                <mat-form-field appearance="fill">
                    <mat-label>Select Category</mat-label>
                    <mat-select [(ngModel)]="category" (ngModelChange)="coursechange()">
                        <mat-option value="live">Live</mat-option>
                        <mat-option value="recording">Recording</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button type="button" (click)="gobutton()"
                    class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                    Go
                </button>
            </div>
        </div>


        <div class="card-body" *ngIf="displaycontent">
            <hr />
            <form [formGroup]="addmediaform" class="me-5" (ngSubmit)="addmedia()">


                <!-- Title -->
                <div class="row align-items-center ">
                    <h6 class="text-md-right col-md-4">Video Link </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>Video Link</mat-label>
                            <input matInput autocomplete="off" formControlName="videolink" required>
                            <mat-error [hidden]="!addmediaform.get('videolink')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>



                <!-- Title -->
                <div class="row align-items-center ">
                    <h6 class="text-md-right col-md-4">Duration of Video <br /> (Hours : Minutes) </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>Duration</mat-label>
                            <input matInput autocomplete="off" formControlName="videoduration" required>
                            <mat-error [hidden]="!addmediaform.get('videoduration')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Title -->
                <div class="row align-items-center ">
                    <h6 class="text-md-right col-md-4">Title </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>Title</mat-label>
                            <input matInput autocomplete="off" formControlName="videotitle" required>
                            <mat-error [hidden]="!addmediaform.get('videotitle')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>


                <!-- Descriptions  -->
                <div class="row align-items-center">
                    <h6 class="text-md-right col-md-4">Message </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>Message</mat-label>
                            <textarea matInput class="p-2" formControlName="videodescription" rows="3"
                                placeholder="Description"></textarea>
                            <mat-error [hidden]="!addmediaform.get('videodescription')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Title -->
                <div class="row align-items-center ">
                    <h6 class="text-md-right col-md-4">Meta Keywords </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>Duration</mat-label>
                            <input matInput autocomplete="off" formControlName="vidoemetakeywords" required>
                            <mat-error [hidden]="!addmediaform.get('vidoemetakeywords')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>


                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block float-md-right">
                    Upload
                </button>

            </form>
        </div>
    </div>


</div>