<div class="ConfigurationTypes_textpadding ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/createpraticelibrary">Pratice library</a></li>

            <li class="breadcrumb-item active" aria-current="page">Pratice library</li>
        </ol>
    </nav>
    <div class="d-flex mb-2 flex-wrap  justify-content-end align-items-center">
        <!-- <h3 class=" pl-2 text-secondary ">Pratice library</h3> -->
        <button type="button" *ngIf="!displaycontent" (click)="addlibrary()"
            class="btn btn-outline-secondary btn-rounded d-inline-block ">
            Add Library
        </button>
    </div>
    <div class="card  bg-secondary" *ngIf="displaycontent">
        <div class="card-header text-white bg-secondary">
            {{iseditable ? "Update" :"Add" }} Pratice library
        </div>
        <div class="card-body bg-white  py-2">
            <!-- <hr /> -->
            <form [formGroup]="addmediaform" class="me-5" (ngSubmit)="addmedia()">


                <div class="row">
                    <div class="col-md-6">
                        <div class="row align-items-center ">
                            <label>Title</label>
                            <div class="col">
                                <mat-form-field appearance="outline" class="">
                                    <input matInput autocomplete="off" formControlName="videotitle" required>
                                </mat-form-field>
                                <div class="error-message"
                                    *ngIf="addmediaform.controls['videotitle'].invalid && (addmediaform.controls['videotitle'].dirty || addmediaform.controls['videotitle'].touched)">
                                    <mat-error [hidden]=" !addmediaform.get('videotitle')?.hasError('required')  ">
                                        Title is mandatory
                                    </mat-error>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="row align-items-center ">
                            <label>Video Link</label>
                            <div class="col">
                                <mat-form-field appearance="outline" class="">
                                    <input matInput autocomplete="off" formControlName="videolink" required>
                                </mat-form-field>
                                <div class="error-message"
                                    *ngIf="addmediaform.controls['videolink'].invalid && (addmediaform.controls['videolink'].dirty || addmediaform.controls['videolink'].touched)">
                                    <mat-error [hidden]=" !addmediaform.get('videolink')?.hasError('required')  ">
                                        Link is mandatory
                                    </mat-error>
                                    <mat-error [hidden]=" !addmediaform.get('videolink')?.hasError('pattern')  ">
                                        Invalid link
                                    </mat-error>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-md-4">
                        <div class="row align-items-center ">
                            <label>Category</label>
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="category" [disabled]="iseditable">
                                        <mat-option *ngFor="let category of categoryList" [value]="category.categoryId">
                                            {{category.categoryName}}</mat-option>
                                    </mat-select>

                                </mat-form-field>
                                <div class="error-message"
                                    *ngIf="addmediaform.controls['category'].invalid && (addmediaform.controls['category'].dirty || addmediaform.controls['category'].touched)">
                                    <mat-error [hidden]=" !addmediaform.get('category')?.hasError('required')  ">
                                        Category is mandatory
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row align-items-center ">
                            <label> Duration of Video<small class="fw-lighter"> (Hours : Minutes)</small> </label>
                            <div class="col">
                                <mat-form-field appearance="outline" class="">
                                    <input matInput autocomplete="off" formControlName="videoduration" required>

                                </mat-form-field>
                                <div class="error-message"
                                    *ngIf="addmediaform.controls['videoduration'].invalid && (addmediaform.controls['videoduration'].dirty || addmediaform.controls['videoduration'].touched)">
                                    <mat-error [hidden]=" !addmediaform.get('videoduration')?.hasError('required')  ">
                                        Duration is mandatory
                                    </mat-error>
                                    <mat-error [hidden]=" !addmediaform.get('videoduration')?.hasError('pattern')  ">
                                        Invalid Duration
                                    </mat-error>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row align-items-center ">
                            <label>Meta Keywords</label>
                            <div class="col">
                                <mat-form-field appearance="outline" class="">
                                    <input matInput autocomplete="off" formControlName="vidoemetakeywords" required>

                                </mat-form-field>
                                <div class="error-message"
                                    *ngIf="addmediaform.controls['vidoemetakeywords'].invalid && (addmediaform.controls['vidoemetakeywords'].dirty || addmediaform.controls['vidoemetakeywords'].touched)">
                                    <mat-error
                                        [hidden]=" !addmediaform.get('vidoemetakeywords')?.hasError('required')  ">
                                        Keywords is mandatory
                                    </mat-error>
                                    <mat-error
                                        [hidden]=" !addmediaform.get('vidoemetakeywords')?.hasError('pattern')  ">
                                        Invalid Keywords
                                    </mat-error>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="row align-items-center">
                            <label>Message</label>
                            <div class="col">
                                <mat-form-field appearance="outline" class="">
                                    <textarea matInput class="p-2" formControlName="videodescription" rows="3"
                                        placeholder="Description"></textarea>

                                </mat-form-field>
                                <div class="error-message"
                                    *ngIf="addmediaform.controls['videodescription'].invalid && (addmediaform.controls['videodescription'].dirty || addmediaform.controls['videodescription'].touched)">
                                    <mat-error
                                        [hidden]=" !addmediaform.get('videodescription')?.hasError('required')  ">
                                        Message is mandatory
                                    </mat-error>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex flex-row justify-content-end flex-wrap">
                    <button type="submit" *ngIf="issubmit"
                        class="btn btn-outline-secondary btn-rounded d-inline-block ">
                        {{iseditable ? "Update":"Add"}}
                    </button>
                    <button type="button" (click)="reseteditable()"
                        class="btn btn-outline-secondary btn-rounded d-inline-block ">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>

    <div class="card ">
        <div class="card-header text-white bg-secondary">
            Pratice library
        </div>
        <div class="card-body bg-transparent px-0 py-2">
            <table mat-table [dataSource]="filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
                aria-label="users">
                <ng-container matColumnDef="praticeLibaryId">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                        <label mat-sort-header>
                            S.No
                        </label>
                        <input type="text" (keyup)="updatePagination('praticeLibaryId')" disabled
                            [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let i=index"> {{pageno +i }} </td>
                </ng-container>


                <ng-container matColumnDef="videoLink">
                    <th mat-header-cell *matHeaderCellDef scope="col-2">
                        <label mat-sort-header>
                            Video Link
                        </label>
                        <input type="text" (keyup)="updatePagination('videoLink')" disabled
                            [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element" class="col-2"> <a class="text-primary"
                            href="{{element.videoLink}}" target="_blank" rel="noopener noreferrer"><u>Open</u>
                        </a> </td>
                </ng-container>

                <ng-container matColumnDef="duration">

                    <th mat-header-cell *matHeaderCellDef scope="col-3">
                        <label mat-sort-header>
                            Duration
                        </label>
                        <input type="text" (keyup)="updatePagination('duration')"
                            [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef scope="col-2">
                        <label mat-sort-header>
                            Title
                        </label>
                        <input type="text" (keyup)="updatePagination('title')"
                            [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element" class="col-2"> {{element.title | titlecase}} </td>
                </ng-container>
                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef scope="col-3">
                        <label mat-sort-header>
                            Message
                        </label>
                        <input type="text" (keyup)="updatePagination('message')"
                            [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element" class="col-3"> {{element.message }} </td>
                </ng-container>

                <ng-container matColumnDef="metaKeyword">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Meta Keywords
                        </label>
                        <input type="text" (keyup)="updatePagination('metaKeyword')"
                            [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.metaKeyword}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef scope="col-2">
                        <label mat-sort-header>
                            Actions
                        </label>
                        <input type="text" (keyup)="updatePagination('State')" disabled
                            [(ngModel)]="filterData.filterColumnNames[6].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element" class="col-2">
                        <div class="d-flex flex-wrap justify-content-evenly align-items-center">
                            <i class="fa-solid fa-eye fs-5 text-info" (click)="viewdetails(element)"
                                matTooltip="View Course Activity" matTooltip="View"></i>
                            <span matTooltip="Edit" (click)="editdetails(element)">
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            </span>
                            <span matTooltip="Delete" style="cursor: pointer;"
                                (click)="deletedetails(element.praticeLibaryId)">
                                <i class="far fa-trash-alt" aria-hidden="true"></i>
                            </span>
                        </div>

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="card-body" (page)="onpaginatechange($event)"
                [pageSizeOptions]="[10,25, 50, 100,150,200]" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>



</div>