<div class="ConfigurationTypes_textpadding ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/addCourse">Course Management</a></li>

            <li class="breadcrumb-item active" aria-current="page">Members</li>
        </ol>
    </nav>

    <!-- <div class="d-flex mb-2 flex-wrap  justify-content-between align-items-center">
        <h3 class=" pl-2 text-secondary ">Members</h3>
    </div> -->
    <br />
    <div class="card  bg-secondary">
        <div class="card-header text-white bg-secondary">
            Members
        </div>
        <div class="card-body  bg-white  py-2">

            <div class="row align-items-center">
                <div class="col-md-4">
                    <label>Course</label>
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="category">
                            <mat-option *ngFor="let course of courselist" [value]="course.coursesId">
                                {{course.coursesName}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                    <span class="mat-error" *ngIf="categoryerror">
                        Please Select Category
                    </span>
                </div>
                <div class="col-md-3">
                    <button type="button" (click)="coursechange()"
                        class="btn btn-outline-secondary btn-rounded d-inline-block mt-3 ml-md-1">
                        Submit
                    </button>
                </div>
            </div>
            <hr *ngIf="displaycontent" />
            <div class="row align-items-center" *ngIf="displaycontent">
                <div class="col-md-4">
                    <h4>Total Number of Users Applied : <span>{{totalUserApplied | number}}</span></h4>
                </div>
                <div class="col-md-4">
                    <h4>Number of users mapped : <span>{{totalUser | number}}</span></h4>
                </div>
                <div class="col-md-4">
                    <button type="button"
                        class="btn btn-outline-secondary btn-rounded d-inline-block border border-dark "
                        (click)="downloadexcel()">

                        Download Excel
                    </button>
                </div>
            </div>
            <hr *ngIf="displaycontent" />
            <form class=" mx-2" [formGroup]="memberform" *ngIf="displaycontent" (ngSubmit)="memberformsubmit()">
        
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <label>Enter Name</label>
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <input matInput autocomplete="off" formControlName="name" >
                                    <mat-error [hidden]="!memberform.get('name')?.hasError('required')">
                                        Name is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <label>Enter email Id</label>
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <input matInput autocomplete="off" formControlName="email" >
                                    <mat-error [hidden]="!memberform.get('email')?.hasError('required')">
                                        Email is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label>Enter Country</label>
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="country">
                                        <mat-option *ngFor="let country of countryList" [value]="country">
                                            {{country}}</mat-option>
                                    </mat-select>
                                    <mat-error [hidden]="!memberform.get('country')?.hasError('required')">
                                        Country is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>
                <br />

                <div class="row">

                    <div class="col-md-3">
                        <label>Enter Mobile number</label>
                        <div class="col px-0">

                            <mat-form-field appearance="outline">
                                <input matInput autocomplete="off" formControlName="mobile" >
                                <mat-error [hidden]="!memberform.get('mobile')?.hasError('required')">
                                    Mobile mandatory
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Enter Region</label>
                        <div class="col px-0">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="region">
                                    <mat-option *ngFor="let country of countryList" [value]="country">
                                        {{country}}</mat-option>
                                </mat-select>
                                <mat-error [hidden]="!memberform.get('region')?.hasError('required')">
                                    Region is mandatory
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Enter Age from</label>
                        <div class="col px-0">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="agefrom">
                                    <mat-option *ngFor="let age of agelist" [value]="age">
                                        {{age}}</mat-option>
                                </mat-select>
                                <mat-error [hidden]="!memberform.get('agefrom')?.hasError('required')">
                                    Age is mandatory
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Enter Age to</label>
                        <div class="col px-0">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="ageto">
                                    <mat-option *ngFor="let age of agelist" [value]="age">
                                        {{age}}</mat-option>
                                </mat-select>
                                <mat-error [hidden]="!memberform.get('ageto')?.hasError('required')">
                                    Age is mandatory
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">

                    <div class="col-md-3">
                        <label>Enter Gender</label>
                        <div class="col px-0">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="gender">
                                    <mat-option value="male">Male</mat-option>
                                    <mat-option value="female">Female</mat-option>

                                </mat-select>
                                <mat-error [hidden]="!memberform.get('gender')?.hasError('required')">
                                    Gender is mandatory
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <label>Status</label>
                        <div class="col px-0">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="status">
                                    <mat-option value="confirmed">Confirmed</mat-option>
                                    <mat-option value="pending">Pending</mat-option>

                                    <mat-option value="rejected">Rejected</mat-option>

                                </mat-select>
                                <mat-error [hidden]="!memberform.get('status')?.hasError('required')">
                                    Status is mandatory
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class=" row col-md-6">
                        <div class="col-md-6">
                            <button type="submit"
                                class="btn btn-outline-secondary btn-rounded d-inline-block mt-3 ml-md-1">
                                {{isedit ?"Update":"Submit"}}
                            </button>
                        </div>
                        <!-- <div class="col-md-6">
                            <button type="button" (click)="reseteditable()"
                                class="btn btn-outline-secondary btn-rounded d-inline-block mt-3 ml-md-1">
                                Cancel
                            </button>
                        </div> -->
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="card " [hidden]="!displaycontent">
        <div class="card-header text-white bg-secondary">
            Members
        </div>
        <div class="card-body bg-transparent px-0 py-0">

            <table mat-table [dataSource]="filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
                aria-label="users">
                <ng-container matColumnDef="studentId">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                        <label mat-sort-header>
                            S.No
                        </label>
                        <input type="text" (keyup)="updatePagination('courseId')" disabled
                        [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let i=index"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="Image">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Image
                        </label>
                        <input type="text" (keyup)="updatePagination('category')" disabled
                [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element">

                        <img src="../../../../assets/images/user-profile.png" width="20" alt="user pic" />

                    </td>
                </ng-container>

                <ng-container matColumnDef="name">

                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Name
                        </label>
                        <input type="text" (keyup)="updatePagination('courseName')"
                            [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.name |titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="emailId">
                    <th mat-header-cell *matHeaderCellDef scope="col-2">
                        <label mat-sort-header>
                            Email id
                        </label>
                        <input type="text" (keyup)="updatePagination('courseDuration')"
                            [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center col-2" *matCellDef="let element"> {{element.emailId || "Nil" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Country
                        </label>
                        <input type="text" (keyup)="updatePagination('startDate')"
                            [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.address || "Nil"}} </td>
                </ng-container>

                <ng-container matColumnDef="genderId">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Gender
                        </label>
                        <input type="text" (keyup)="updatePagination('endDate')"
                            [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element "> {{element.genderId }} </td>
                </ng-container>

                <ng-container matColumnDef="mentorId">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px;" scope="col">
                        <label mat-sort-header>
                            Mentor
                        </label>
                        <input type="text" (keyup)="updatePagination('currentStatus')"
                            [(ngModel)]="filterData.filterColumnNames[6].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element "> {{element.mentorId || "Nil" }} </td>

                </ng-container>

                <ng-container matColumnDef="ChiefMentorId">
                    <th mat-header-cell *matHeaderCellDef scope="col-3">
                        <label mat-sort-header>
                            Chief Mentor
                        </label>
                        <input type="text" (keyup)="updatePagination('currentStatus')"
                            [(ngModel)]="filterData.filterColumnNames[7].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center col-md-2" *matCellDef="let element "> {{element.ChiefMentorId ||
                        "Nil"}}
                    </td>

                </ng-container>

                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px;" scope="col">
                        <label mat-sort-header>
                            Status
                        </label>
                        <input type="text" (keyup)="updatePagination('currentStatus')"
                            [(ngModel)]="filterData.filterColumnNames[7].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element "> {{element.Status || "Nil"}} </td>

                </ng-container>

                <ng-container matColumnDef="View_Profile">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px;" scope="col">
                        <label mat-sort-header>
                            Action
                        </label>
                        <input type="text" (keyup)="updatePagination('currentStatus')" disabled
                        [(ngModel)]="filterData.filterColumnNames[8].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element ">

                        <i class="fa-solid fa-eye fs-5 text-info" (click)="viewprofile(element)"
                            matTooltip="View Course Activity" matTooltip="View"></i>
                    </td>

                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [hidden]="!displaycontent" class="card-body" [pageSizeOptions]="[10,25, 50,75, 100]"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>

</div>