/* Set top-lef and bottom-left corner radius */
/* :host ::ng-deep .mat-form-field-outline-start {
    border-radius: 14px 0 0 14px !important;
    min-width: 14px !important;
}
 
:host ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 14px 14px 0 !important;
} */

