<div class="ConfigurationTypes_textpadding ">
    <h3 class="mb-5 pl-2"> Create Scripctures </h3>

    <div class="card border-light pt-3 ">

        <div class="card-body">


            <form [formGroup]="addmediaform" class=" me-5" (ngSubmit)="addmedia()">

                <!-- Back Cover -->
                <div class=" row align-items-center  ">
                    <h6 class="text-md-right col-md-4 ">Upload Book Cover Image</h6>
                    <div class="col-md ">
                        <input type="file" id="file" class="border" formControlName="coverimage"
                            (change)="onfilechange('backcover')" accept="image/*" required="true" /> <br />

                        <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>
                    </div>
                </div>


                <!-- Image -->
                <div class="row align-items-center align-items-center">
                    <h6 class="text-md-right col-md-4">Upload File </h6>

                    <div class="col-md">
                        <input type="file" id="file" class="border" formControlName="coverfile"
                            (change)="onfilechange('backcover')" accept="image/*" required="true" /> <br />

                        <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>
                    </div>

                </div>


                <!-- Title -->
                <div class="row align-items-center ">
                    <h6 class="text-md-right col-md-4">Title </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="ms-3">
                            <mat-label>Title</mat-label>
                            <input matInput autocomplete="off" formControlName="covertitle" required>
                            <mat-error [hidden]="!addmediaform.get('covertitle')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Descriptions  -->
                <div class="row align-items-center">
                    <h6 class="text-md-right col-md-4">Description </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="ms-3">
                            <mat-label>Description</mat-label>
                            <textarea matInput class="p-2" formControlName="coverdescription" rows="3"
                                placeholder="Description"></textarea>
                            <mat-error [hidden]="!addmediaform.get('coverdescription')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Meta Keyword  -->
                <div class="row align-items-center ">
                    <h6 class="text-md-right col-md-4">Meta Keywords </h6>

                    <div class="col">
                        <mat-form-field appearance="outline" class="ms-3">
                            <mat-label>Meta Keyword</mat-label>
                            <input matInput autocomplete="off" formControlName="coverkeywords" required>
                            <mat-error [hidden]="!addmediaform.get('coverkeywords')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>


                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block float-md-right">
                    Submit
                </button>

            </form>
        </div>

    </div>

</div>