<div class="ConfigurationTypes_textpadding ">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/createpraticelibrary">Pratice library</a></li>

            <li class="breadcrumb-item active" aria-current="page">Create scripctures</li>
        </ol>
    </nav>
    <div class="d-flex mb-2 flex-wrap  justify-content-end align-items-center">
        <!-- <h3 class=" pl-2 text-secondary "> Add Courses/View Course Details</h3> -->
        <!-- <h3 class=" pl-2 text-secondary ">Courses</h3> -->

        <button type="button" (click)="add()" *ngIf="!displaycontent"
            class="btn btn-outline-secondary btn-rounded d-inline-block ">
            Add scripctures
        </button>
    </div>
    <br />
    <div class="card  bg-secondary" *ngIf="displaycontent">
        <div class="card-header text-white bg-secondary">
            {{iseditable ? "Update" :"Add" }} scripctures
        </div>
        <div class="card-body bg-white  py-3">
            <form [formGroup]="addmediaform" (ngSubmit)="addmedia()">

                <div class="row">

                    <div class="row align-items-center col-md-3 ">
                        <label>Title </label>

                        <div class="col">
                            <mat-form-field appearance="outline">
                                <input matInput autocomplete="off" class="" formControlName="covertitle" required>

                            </mat-form-field>
                            <div class="error-message"
                                *ngIf="addmediaform.controls['covertitle'].invalid && (addmediaform.controls['covertitle'].dirty || addmediaform.controls['covertitle'].touched)">
                                <mat-error [hidden]=" !addmediaform.get('covertitle')?.hasError('required')  ">
                                    Title is mandatory
                                </mat-error>
                            </div>
                        </div>
                    </div>

                    <div class=" row align-items-center col-md-3 mr-1  ">
                        <label class="mb-1">Upload book cover image</label>
                        <input type="file" id="file" class="border" formControlName="coverimage"
                            (change)="onfilechange('backcover',$event)" accept="image/*" required="true" />
                        <mat-error class="error-message" *ngIf="filerror">Book cover is mandatory</mat-error>

                    </div>

                    <div class="row col-md-3 align-items-center r">
                        <label class="mb-1">Upload file </label>

                        <input type="file" id="file" class="border" formControlName="coverfile"
                            (change)="onfilechange('file',$event)" accept="image/*" required="true" /> <br />
                        <mat-error class="error-message" *ngIf="filerror">Image is mandatory</mat-error>

                    </div>
                    <div class=" col-md-3 row align-items-center ">
                        <label>Meta Keywords</label>

                        <div class="col">
                            <mat-form-field appearance="outline">
                                <input matInput autocomplete="off" formControlName="coverkeywords" required>
                            </mat-form-field>
                            <div class="error-message"
                                *ngIf="addmediaform.controls['coverkeywords'].invalid && (addmediaform.controls['coverkeywords'].dirty || addmediaform.controls['coverkeywords'].touched)">
                                <mat-error [hidden]=" !addmediaform.get('coverkeywords')?.hasError('required')  ">
                                    Keyword is mandatory
                                </mat-error>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="row align-items-center">
                    <div class="row align-items-center col-md-6">
                        <label>Description </label>

                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea matInput class="p-2" formControlName="coverdescription" rows="3"
                                    placeholder="Description"></textarea>
                            </mat-form-field>
                            <div class="error-message"
                                *ngIf="addmediaform.controls['coverdescription'].invalid && (addmediaform.controls['coverdescription'].dirty || addmediaform.controls['coverdescription'].touched)">
                                <mat-error [hidden]=" !addmediaform.get('coverdescription')?.hasError('required')  ">
                                    Description is mandatory
                                </mat-error>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block ">
                            {{iseditable ? "Update" :"Add" }}
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" (click)="reseteditable()"
                            class="btn btn-outline-secondary btn-rounded d-inline-block ">
                            Cancel
                        </button>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>