<div class="ConfigurationTypes_textpadding ">
    
    
   <div class="bg-white mr-5 card-body ">
    <h5 class="card-header text-white card bg-secondary">Past Course</h5>
    .

    
    <div class="row  m-3  ">
        <div class="col-md-2 mt-2 card">
            <img src="https://jooinn.com/images/yoga-8.jpg">

        </div>
        <div class="col-md-8 mt-2">
            <p class="fs-5 fw-bold">RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p>RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p><i class="fa-solid fa-calendar-days"></i>&nbsp;<span>june 15 2022 - sep 20 2022</span></p>
            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block" 
           >
          Click here >
        </button>
        </div>
        

        
    </div>
    <div class="row  m-3  ">
        <div class="col-md-2 mt-2 card">
            <img src="https://i.pinimg.com/474x/a8/d4/d6/a8d4d647200f0feaa6206a9266e3ecde.jpg">

        </div>
        <div class="col-md-8 mt-2">
            <p class="fs-5 fw-bold">RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p>RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p><i class="fa-solid fa-calendar-days"></i>&nbsp;<span>june 15 2022 - sep 20 2022</span></p>
            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block" 
           >
          Click here >
        </button>
        </div>
        

        
    </div>
    <div class="row  m-3  ">
        <div class="col-md-2 mt-2 card">
            <img src="https://i.pinimg.com/originals/73/79/7e/73797ea3c037a2470b3cfe39d0bb72f7.jpg">

        </div>
        <div class="col-md-8 mt-2">
            <p class="fs-5 fw-bold">RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p>RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p><i class="fa-solid fa-calendar-days"></i>&nbsp;<span>june 15 2022 - sep 20 2022</span></p>
            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block" 
           >
          Click here >
        </button>
        </div>
        

        
    </div>
    <div class="row  m-3  ">
        <div class="col-md-2 mt-2 card">
            <img src="https://jooinn.com/images/yoga-8.jpg">

        </div>
        <div class="col-md-8 mt-2">
            <p class="fs-5 fw-bold">RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p>RYIT9(200) Free Online Traditional Meditation Teacher Training Based Darashanas or Sanadhana Dharma For Yoga Teachers and Student to Become a Yogi</p>
            <p><i class="fa-solid fa-calendar-days"></i>&nbsp;<span>june 15 2022 - sep 20 2022</span></p>
            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block" 
           >
          Click here >
        </button>
        </div>
        

        
    </div>


</div>
</div>
