<div class="ConfigurationTypes_textpadding   ">
    <!-- remove bg-light -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="mentordashboard">DashBoard</li>
      </ol>
    </nav>
    <br />
    <div class="card">
        <div class="card-header text-white bg-secondary">
            Mentors Dashboard
        </div>
        <div class="card-body bg-white  py-2">
            <div class="card">
                <div class="row">
                    <div class=" ">
                        <div class=" row  align-items-center">
                            <label>Select Course</label>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <select matNativeControl formControlName="course">
                                        <option value="RYT 200 Course">RYT 200 Course</option>
                                        <option value="RYT 400 Course">RYT 400 Course</option>
                                        <option value="RYT 600 Course">RYT 600 Course</option>
                                        <option value="RYT 800 Course">RYT 800 Course</option>                                    
                                    </select>
                                </mat-form-field>
                               
                            </div>
                         
                        </div>
                      
                    </div>
                    
                </div>
                <div class=" pt-3">
                    <div class="row  dashboard-tails">                  
        
                        <div class="col-sm-4">
                            <div class="tile  bg-white" >                           
                                    <div class="row"  >
                                        <div class="col-md-6" style="border-right: 2px solid #ddd; padding:0px;">
                                            <span class="float-top"> <i class="fa fa-user"> </i></span>
                                            <h6 class="title mb-1">40 </h6>
                                            <p><small><span> Number of student assigned </span></small></p>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <span style="border-radius:50%;width: 25px;height: 25px;
                                                padding: 2px;background: #ddd;text-align: center;">4</span>
                                                <span style="padding-left: 10px;font-size: 12px;">Continuing</span>
                                            </div>
                                            
                                            <div class="pt-3">
                                                <span style="border-radius:50%;width: 25px;height: 25px;
                                                padding: 2px;background: #ddd;text-align: center;">2</span>
                                                <span style="padding-left: 10px;font-size: 12px;">Any Old</span>
                                            </div>
                                            <div class="pt-3">
                                                <span style="border-radius:50%;width: 25px;height: 25px;
                                                padding: 2px;background: #ddd;text-align: center;">34</span>
                                                <span style="padding-left: 10px;font-size: 12px;">New</span>
                                            </div>                                           
                                                                                                                               
                                        </div>                               
                                       
                                    </div>                         
                            </div>
                        </div>
        
                        <div class="col-sm-4">
                            <div class="tile bg-white">
                                <div class="row" >
                                    <div class="col-md-6" style="border-right: 2px solid #ddd; padding:0px;">
                                        <span class="float-top"> <i class="fa fa-user"> </i></span>
                                        <h6 class="title mb-1">25</h6>
                                        <p><small><span>Active Students </span></small><br></p>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <span style="border-radius:50%;width: 25px;height: 25px;
                                            padding: 2px;background: #ddd;text-align: center;">4</span>
                                            <span style="padding-left: 10px;font-size: 12px;">Continuing</span>
                                        </div>
                                        
                                        <div class="pt-3">
                                            <span style="border-radius:50%;width: 25px;height: 25px;
                                            padding: 2px;background: #ddd;text-align: center;">2</span>
                                            <span style="padding-left: 10px;font-size: 12px;">Any Old</span>
                                        </div>
                                        <div class="pt-3">
                                            <span style="border-radius:50%;width: 25px;height: 25px;
                                            padding: 2px;background: #ddd;text-align: center;">34</span>
                                            <span style="padding-left: 10px;font-size: 12px;">New</span>
                                        </div>   
                                    </div>
                                </div>
                                
                              
                            </div>
                        </div>
        
                        <div class="col-sm-4">
                            <div class="tile bg-white">
                                <div class="row">
                                    <div class="col-md-6" style="border-right: 2px solid #ddd; padding:0px;">
                                        <span class="float-top"> <i class="fa fa-user"> </i></span>
                                        <h6 class="title mb-1">15</h6>
                                        <p><small><span> Dropped Students </span></small><br></p>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <span style="border-radius:50%;width: 25px;height: 25px;
                                            padding: 2px;background: #ddd;text-align: center;">4</span>
                                            <span style="padding-left: 10px;font-size: 12px;">Continuing</span>
                                        </div>
                                        
                                        <div class="pt-3">
                                            <span style="border-radius:50%;width: 25px;height: 25px;
                                            padding: 2px;background: #ddd;text-align: center;">2</span>
                                            <span style="padding-left: 10px;font-size: 12px;">Any Old</span>
                                        </div>
                                        <div class="pt-3">
                                            <span style="border-radius:50%;width: 25px;height: 25px;
                                            padding: 2px;background: #ddd;text-align: center;">34</span>
                                            <span style="padding-left: 10px;font-size: 12px;">New</span>
                                        </div>
                                    </div>
                                </div>
                               
                               
                            </div>
                        </div>
        
                        
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header text-white bg-secondary">
                     Live Date
                    </div>

                    <div class="rounded mat-elevation-z8 table-responsive" style="background:#eef1ec;">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
                        aria-label="users">
              
                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef class="col-1 text-center" [attr.rowspan]="4"> <label mat-sort-header>Date</label>
                            <input type="text"  [filter]="dataSource2" />
                          </th>
                
                          <td mat-cell *matCellDef="let element" class="col-1  text-center ">{{element.date}}
                
                          </td>
                        </ng-container>
                
                        <ng-container matColumnDef="totalActivestudents">
                          <th mat-header-cell *matHeaderCellDef class="col-3 text-center "> <label mat-sort-header>Total Active students</label>
                            <input type="text"  [filter]="dataSource2" />
                          </th>
                
                          <td mat-cell *matCellDef="let element" class="col-2  text-center ">{{element.totalActivestudents}}
                
                          </td>
                        </ng-container>
                
                
                        <ng-container matColumnDef="performance">
                          <th mat-header-cell *matHeaderCellDef class="col-2 text-center"><label mat-sort-header>Performance</label>
                            <input type="text"  [filter]="dataSource2" />
                          </th>
                          <td mat-cell *matCellDef="let element" class="col-2 px-2 text-center text-muted"> {{element.performance}}
                          </td>
                        </ng-container>
                
                
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                      </table>
                    </div>               
                </div>
                <div class="card mt-2">
                    <div class="card-header text-white bg-secondary">
                     Live Class
                    </div>
                    <div class="rounded mat-elevation-z8 table-responsive" style="background:#eef1ec;">               
                      <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8 mat-datagrid w-100"
                        aria-label="users">
              
                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef class="col-4 text-center "> <label mat-sort-header>Date</label>
                            <input type="text"  [filter]="dataSource2" />
                          </th>
                
                          <td mat-cell *matCellDef="let element" class="col-4  text-center ">{{element.date}}
                
                          </td>
                        </ng-container>
                
                        <ng-container matColumnDef="watchinglive">
                          <th mat-header-cell *matHeaderCellDef class="col-4 text-center "> <label mat-sort-header>Watching Live</label>
                            <input type="text"  [filter]="dataSource2" />
                          </th>
                
                          <td mat-cell *matCellDef="let element" class="col-4  text-center ">{{element.watchinglive}}
                
                          </td>
                        </ng-container>
                
                
                        <ng-container matColumnDef="student">
                            <th mat-header-cell *matHeaderCellDef class="col text-center"><label mat-sort-header>Student</label>
                                <input type="text"  [filter]="dataSource2" disabled />
                            </th>
                            <td mat-cell *matCellDef="let element" class="col text-center py-2">
                              <div class="d-flex flex-wrap justify-content-evenly align-items-center">                       
                                <i class="fa-solid fa-eye fs-5 text-info" matTooltip="View Course Activity"
                                  matTooltip="View" (click)="viewDetails()"></i>                    
                              </div>
                            </td>
                          </ng-container>           
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>            
                      </table>                 
                   </div>
                </div>
            </div>
           
        </div>  
    </div>
    </div>