<div class="ConfigurationTypes_textpadding ">
    
    
    <div class="bg-white mr-5 card ">
     <h5 class="mb-3 pl-2 card-header text-white card bg-secondary">Notifications</h5>
     <div class="card-body">
        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" class="">
              <mat-expansion-panel-header class="bg-secondary">
                <mat-panel-title class="text-white" >
                  Guidelines related to conduct of courses{{panelOpenState? 'open' : 'closed'}}
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <div >
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion><br>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" class="">
              <mat-expansion-panel-header class="bg-secondary">
                <mat-panel-title class="text-white" >
                 Wishs from Guruji{{panelOpenState? 'open' : 'closed'}}
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <div >
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
            </div>
            </mat-expansion-panel>
          </mat-accordion><br>
          <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" class="">
              <mat-expansion-panel-header class="bg-secondary">
                <mat-panel-title class="text-white" >
                  General notifications{{panelOpenState? 'open' : 'closed'}}
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <div >
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
              <p> 11-08-2022</p>
              <p>Description here</p><hr>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
          
          

     </div>
    </div>
</div>



