<div class="ConfigurationTypes_textpadding bg-light">
    <h5>Class Media Update</h5>
    <div class="mt-5 bg-white">

        <div class="row px-2 " style="display: flex;">
            <div class="col-md-12">
                <form [formGroup]="dateForm" (ngSubmit)="datefilter()" class="d-flex  flex-wrap flex-row mt-2">
                    <div class="mr-2 mt-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Course</mat-label>
                            <mat-select formControlName="checkbox">
                                <mat-option *ngFor="let course of courses" [value]="course.coursesId">
                                    {{course.coursesName}}</mat-option>
                            </mat-select>
                            <mat-error [hidden]="!dateForm.get('checkbox')?.hasError('required')">
                                Please Select Course
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>

                        <mat-form-field class="mt-2" appearance="outline">
                            <mat-label>Select date</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi" type="date" formControlName="date">
                            <mat-error [hidden]="!dateForm.get('date')?.hasError('required')">
                                Please Select Date
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-2">
                        <button type="submit"
                            class="btn btn-outline-secondary btn-rounded d-inline-block m-2 border border-dark"
                            type="submit">Go</button>
                    </div>
                </form>
            </div>


        </div>
        <hr>
        <div class="row px-4">
            <table mat-table [dataSource]="filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
                aria-label="users">
                <ng-container matColumnDef="classMediaId">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                        <label mat-sort-header>
                            S.No
                        </label>
                        <input type="text" (keyup)="updatePagination('courseId')"
                            [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.classMediaId}} </td>
                </ng-container>
                <ng-container matColumnDef="date">

                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Date
                        </label>
                        <input type="text" (keyup)="updatePagination('courseName')"
                            [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="typeOfClass">

                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Date
                        </label>
                        <input type="text" (keyup)="updatePagination('courseName')"
                            [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.typeOfClass | titlecase}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="noOfMediaFiles">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Number Of Media File Added
                        </label>
                        <input type="text" (keyup)="updatePagination('courseDuration')"
                            [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.noOfMediaFiles}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Action
                        </label>

                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element">
                        <div class="row">
                            <div class="col">
                                <i class="fa-solid fa-eye" (click)="viewclassmedia(element)"
                                    style="color: rgb(235, 156, 11) ;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-pencil" (click)="editmedia(element)"></i>

                            </div>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br /><br />
            <div class="bg-white d-flex  flex-row justify-content-end ">
                <mat-paginator class="" [pageSizeOptions]="[10,25, 50, 100]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>

    </div>


</div>