<div class="ConfigurationTypes_textpadding">
    <h5>Class Media Update</h5>

    <mat-card>
        <div class="row" style="display: flex;">
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Select Course</mat-label>
                    <select matNativeControl [disabled]="disableSelect.value">
                      <option value="" selected></option>
                      <option value="volvo">Volvo</option>
                      <option value="saab" disabled>Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Select date</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi" type="date">
                </mat-form-field>


            </div>
            <div class="col pt-3">
                <button style="background-color: rgb(196, 193, 193); width: 10px; height: 40px;" mat-raised-button class="pb-4">Go</button>
            </div>

        </div>
        <hr>
        <div class="row">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-datagrid w-100" aria-label="subMenu">

                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="s_no">
                    <th mat-header-cell class="col-md-1" *matHeaderCellDef> S-no</th>
                    <td mat-cell class="col-md-1" *matCellDef="let element">
                        {{element.s_no}}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell class="col-md-3" *matHeaderCellDef> Date </th>
                    <td class="col-md-3" *matCellDef="let element">

                        {{element.date}}

                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell class="col-md-3" *matHeaderCellDef> Type Of Class</th>
                    <td mat-cell class="col-md-3" *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="media_file">
                    <th mat-header-cell class="col-md-3" *matHeaderCellDef>Number Of Media File Added</th>
                    <td class="col-md-3" *matCellDef="let element">
                        {{element.media_file}} </td>

                </ng-container>
                <ng-container matColumnDef="Action">
                    <th mat-header-cell class="col" *matHeaderCellDef>Action </th>
                    <td mat-cell class="col" *matCellDef="let element">
                        <div class="row">
                            <div class="col">
                                <i class="fa-solid fa-eye" style="color: rgb(235, 156, 11) ;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-pencil"></i>

                            </div>
                        </div>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            </table>
        </div>




    </mat-card>
</div>