
<div class="ConfigurationTypes_textpadding mb-3" style="height:100px ;">

    <div class="row">
        <div class="col-md-10">
            Create Gallery
        </div>
        <div class="col-md-2">
            <i class="fa-solid fa-xmark" mat-dialog-close="true"></i>
        </div>
    </div><hr>
    <form>
    <div class="row">
        <div class="col-md-8">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Gallery Name</mat-label>        
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Description</mat-label    >
                <textarea matInput placeholder="Type your Description here..."></textarea>
              </mat-form-field>
        </div><br>
        <div class="row">
            <div class="col-md-12 ">
                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                    Create Gallery
                </button>

            </div>
        </div>
       
           
       
    </div>
</form>
</div>