<app-header *ngIf="!!this.dataStorage.isUserLoggedIn"></app-header>
<div class="">
    <div class="wrapper">
        <!-- <app-side-nav class="pt-3 mt-3" *ngIf="!!this.dataStorage.isUserLoggedIn"></app-side-nav>
        <div class="pt-3 mt-3" id="content">
            <router-outlet></router-outlet>
        </div> -->

        <app-side-nav class="" *ngIf="!!this.dataStorage.isUserLoggedIn"></app-side-nav>
        <div class="" id="content">
            <router-outlet>
                <div class="move-top" (click)="onActivate()" style="position:fixed; bottom:15px; right:15px; font-size: 30px; color: #2c3e50;">
                    <img src="../assets/images/movie-top.png" width="30" />
                </div>
            </router-outlet>
        </div>

    </div>
</div>