<div class="ConfigurationTypes_textpadding">
    <h4> Data View
        <div style="height:10px">
            <div *ngIf="errorMessage" [ngStyle]="{'color': errorType == 'Error' ? 'red':'green'}"
                class="notificationMessage">{{Message}}</div>
        </div>
    </h4>
    <form [formGroup]="viewDataForm" (ngSubmit)="onViewDataFormSubmit()">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Sub Module</mat-label>
                        <mat-select placeholder="Select Sub Module" formControlName="subModuleName"
                            (selectionChange)="onSelectModule($event)" disableOptionCentering required>
                            <mat-option>Select Sub Module </mat-option>
                            <mat-option *ngFor="let subModule of submodulesList" [value]="subModule.subModuleId">
                                {{subModule.subModuleName}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="viewDataForm.controls['subModuleName'].hasError('required')">Sub Module is
                            required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Table</mat-label>
                        <mat-select placeholder="Select Table" formControlName="tableId" disableOptionCentering
                            required>
                            <mat-option>Select Table</mat-option>
                            <mat-option *ngFor="let table of tablesList" [value]="table.tableId"
                                (click)="onSelectTableName(table.tableName)">
                                {{table.tableName}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="viewDataForm.controls['tableId'].hasError('required')">Table is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <div class="mb-3 mt-1 pt-1">
                        <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block"> Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
    <div class="table-config-grid ">
        <table mat-table [dataSource]="this.filterData.dataSource" *ngIf="!!this.filterData.dataSource" matSort
            class="mat-elevation-z8 mat-datagrid w-100 " aria-label="View data">
            <ng-container *ngFor="let col of tableCols let i=index">
                <ng-container matColumnDef="{{ col }}">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                        <label mat-sort-header>{{ col }}</label>
                        <input type="text" (keyup)="updatePagination()"
                            [(ngModel)]="filterData.filterColumnNames[i].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
                </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
            <tr mat-row *matRowDef="let row; columns: tableCols;"></tr>
        </table>
    </div>
    <mat-paginator [hidden]="!dataSource" [pageSize]="pageSize" class="w-100" [pageSizeOptions]="[10, 20, 50, 100]"
        aria-label="Select page">
    </mat-paginator>
</div>