
<div class="ConfigurationTypes_textpadding mb-3">


    <div class="row">
        <div class="col-md-10">
            <h3>  Create Album</h3>
          
        </div>
        <div class="col-md-2">
            <i class="fa-solid fa-xmark" mat-dialog-close="true"></i>
        </div>
    </div><hr>
    <form class="card bg-white mt-3">
    <div class="row">
        <div class="col-md-6"><label>Album Name</label>
            <mat-form-field class="example-full-width" appearance="outline">
                
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <label>Description</label>
            <mat-form-field class="example-full-width" appearance="outline">
               
                <textarea matInput placeholder="Type your Description here..."></textarea>
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <label>Event From Date</label>
            <mat-form-field class="example-full-width" appearance="outline">
           
            <input matInput formControlName="fromdate" placeholder="Ex. Pizza" value="Sushi"
            type="date">
        </mat-form-field>
        </div>
        <div class="col-md-6">
            <label>Event To Date</label>
            <mat-form-field class="example-full-width" appearance="outline">
            <input matInput formControlName="fromdate" placeholder="Ex. Pizza" value="Sushi"
            type="date">
        </mat-form-field>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-12 ">
                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                    Create Album
                </button>

            </div>
        </div>
       
           
       
    </div>
</form>
</div>