<div class="ConfigurationTypes_textpadding p-2 ">
    <div class="row d-flex">
        <div class="col-md-10 ">
            <button  class="col-2 btn btn-outline-secondary btn-rounded " (click)="info()" >
                info  
              </button>
            </div>
              <div class="col-md-2">
                <button  class="col-2 btn btn-outline-secondary btn-rounded fs-6 fw-lighter ">
                    Seek Exclusive for not writing
                  </button>
              </div>

        
    </div><br>
    
 
    <div class="  card ">
        <div class=" card-header text-white  bg-secondary">Write Gratitude Message</div>
        <div class="card-body bg-white">
            <div class="col-md-12">
                <h6 style="background-color: grey;">Reflection On Live Classes</h6>
                <angular-editor  [placeholder]="'Enter text here...'" 
[config]="editorConfig" ></angular-editor>

            </div><br>
            <div class="col-md-12">
                <h6 style="background-color: grey;">Reflection On Your Practice Done</h6>
                <angular-editor  [placeholder]="'Enter text here...'" 
[config]="editorConfig" ></angular-editor>

            </div><br>
            <div class="col-md-12">
                <h6 style="background-color: grey;">Reflection On Personal Transformation</h6>
                <angular-editor  [placeholder]="'Enter text here...'" 
[config]="editorConfig" ></angular-editor>

            </div><br>
            <div class="col-md-12">
                <h6 style="background-color: grey;">Details Of usage Of Vedic nutraceuticals products</h6>
                <angular-editor  [placeholder]="'Enter text here...'" 
[config]="editorConfig" ></angular-editor>

            </div><br>

</div>
</div>
</div>
