<!-- Navigation-->
<!-- <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-4">
                <a> <img src="assets/images/logo-income.svg" class="logo-img" alt="logo" /> </a>
            </div>
        </div>
    </div>
</nav> -->

<!-- Masthead-->
<div class="container-fluid">
    <div class="container-padding">
        <div class="signup-content row">
            <div class="signup-form col-md-5 pt-5">
                <h2 class="form-title">Traditional yoga </h2>
                <!-- Need to add this -->
                <div class="card border-light">
                    <div class="card-header text-white bg-secondary">
                        Register From
                    </div>
                    <form [formGroup]="RegisterForm" (ngSubmit)="onUserSubmit()">

                        <div class="card-body bg-white py-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline">
                                            <input matInput autocomplete="off" formControlName="userName" required>

                                        </mat-form-field>
                                        <div class="error-message"
                                            *ngIf="RegisterForm.controls['userName'].invalid && (RegisterForm.controls['userName'].dirty || RegisterForm.controls['userName'].touched)">
                                            <mat-error
                                                [hidden]=" !RegisterForm.get('userName')?.hasError('required')  ">
                                                Username is mandatory
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Role</label>
                                        <mat-form-field appearance="outline">
                                            <mat-select formControlName="roleId" required>
                                                <mat-option *ngFor="let role of RolesList" [value]="role.roleId">
                                                    {{role.roleName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="error-message"
                                            *ngIf="RegisterForm.controls['roleId'].invalid && (RegisterForm.controls['roleId'].dirty || RegisterForm.controls['roleId'].touched)">
                                            <mat-error [hidden]=" !RegisterForm.get('roleId')?.hasError('required')  ">
                                                Role is mandatory
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>First name</mat-label>
                                            <input matInput autocomplete="off" formControlName="firstName" required>
                                            <mat-error *ngIf="RegisterForm.controls['firstName'].hasError('required')">First
                                                name is
                                                required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Last name</mat-label>
                                            <input matInput autocomplete="off" formControlName="lastName" required>
                                            <mat-error *ngIf="RegisterForm.controls['lastName'].hasError('required')">Last
                                                name is
                                                required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Email Id</label>
                                        <mat-form-field appearance="outline">
                                            <input type="email" autocomplete="off" matInput formControlName="email"
                                                required>

                                        </mat-form-field>
                                        <div class="error-message"
                                            *ngIf="RegisterForm.controls['email'].invalid && (RegisterForm.controls['email'].dirty || RegisterForm.controls['email'].touched)">
                                            <mat-error *ngFor="let validation of validation_messages.email_id">
                                                <span *ngIf="RegisterForm.get('email')?.hasError(validation.type)">
                                                    {{ validation.message}}
                                                </span>
                                            </mat-error>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Mobile</label>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="mobileNumber" onCopy="return false"
                                                onDrag="return false" onDrop="return false" onPaste="return false"
                                                autocomplete=off (keypress)="onKeyPress($event)"
                                                cmsRestrictInput="onlyNumbers" type="text" required minlength="10"
                                                maxlength="10">

                                        </mat-form-field>
                                        <div class="error-message"
                                            *ngIf="RegisterForm.controls['mobileNumber'].invalid && (RegisterForm.controls['mobileNumber'].dirty || RegisterForm.controls['mobileNumber'].touched)">
                                            <mat-error
                                                *ngIf="RegisterForm.controls['mobileNumber'].hasError('required')">
                                                Mobile is mandatory
                                            </mat-error>
                                            <mat-error
                                                *ngIf="RegisterForm.controls['mobileNumber'].hasError('minlength') || RegisterForm.controls['mobileNumber'].hasError('maxlength')">
                                                Mobile number should be 10 digits
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline">
                                            <input [type]="showPassword ? 'text' : 'password'" matInput
                                                autocomplete="off" formControlName="password">
                                            <mat-icon matSuffix (click)="togglePassword()">
                                                {{showPassword?'visibility_off':'visibility'}}</mat-icon>

                                        </mat-form-field>
                                        <div class="error-message"
                                            *ngIf="RegisterForm.controls['password'].invalid && (RegisterForm.controls['password'].dirty || RegisterForm.controls['password'].touched)">
                                            <mat-error *ngFor="let validation of validation_messages.password">
                                                <span *ngIf="RegisterForm.get('password')?.hasError(validation.type)">
                                                    {{ validation.message}}
                                                </span>
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button"
                                        class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
                                        (click)="onClear()"> Clear
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <!-- <div class="mb-3 mt-1 pt-1 float-end"> -->
                                    <button type="submit"
                                        class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                                        Submit
                                    </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="bg-white text-danger" *ngIf="errorFlag">
                            <mat-error>{{authorizationMessage}}</mat-error>
                        </div>
                    </form>
                </div>

            </div>
            <!-- <div class="signup-image col-md-5 mt-5">
                <figure>
                    <img src="assets/images/financial-image.jpg " alt="sing up image " width="75% ">
                </figure>
            </div> -->
        </div>
    </div>
</div>