<div class="ConfigurationTypes_textpadding ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/addCourse">Course Management</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Course Media Pratice sessions</li>
        </ol>
    </nav>


    <div class="card mt-5">
        <div class="card-header text-white bg-secondary">
            Course Media Pratice sessions
        </div>
        <div class="card border-light bg-white pt-3 ">
            <form [formGroup]="courseform">
            <div class="  d-flex flex-row flex-wrap pb-2 ">
               
                <div class="col-4">
                    <label>Course</label>

                    <mat-form-field class="pe-4" appearance="outline">
                        <mat-select matNativeControl formControlName="courses" (selectionChange)="gobutton()" >
                            <mat-option *ngFor="let item of courseList"
                                [value]="item.coursesId">{{item.coursesName}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                    <div class="error-message"
                        *ngIf="courseform.controls['courses'].invalid && (courseform.controls['courses'].dirty || courseform.controls['courses'].touched)">
                        <mat-error [hidden]=" !courseform.get('courses')?.hasError('required')  ">
                            Course is mandatory
                        </mat-error>
                    </div>
                </div>
         
                <!-- <div>
                <button type="button" (click)="gobutton()"
                    class="btn btn-outline-secondary mt-4 btn-rounded d-inline-block m-2">
                    Submit
                </button>

            </div> -->

            </div>
        </form>


            <div *ngIf="displaycontent">


                <form [formGroup]="addmediaform" (ngSubmit)="addmedia()">
                    <div class="card-body mt-2">
                        <hr>
                        <h3 class="ml-3 mb-1">Add Media</h3>
                        <div class="card-body border-light bg-white pt-3 pb-4">
                            <div class=" row pb-4">
                                <div class="col-4 pl-3">
                                    <label>Video Link</label>
                                    <mat-form-field appearance="outline">
                                        <input matInput autocomplete="off" class="" formControlName="videolink"
                                            required>
                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['videolink'].invalid && (addmediaform.controls['videolink'].dirty || addmediaform.controls['videolink'].touched)">
                                        <mat-error [hidden]=" !addmediaform.get('videolink')?.hasError('required')  ">
                                            Link is mandatory
                                        </mat-error>
                                        <mat-error [hidden]=" !addmediaform.get('videolink')?.hasError('pattern')  ">
                                            Invalid link
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Video Title</label>

                                    <mat-form-field appearance="outline">
                                        <input matInput autocomplete="off" class="" formControlName="videotitle"
                                            required>
                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['videotitle'].invalid && (addmediaform.controls['videotitle'].dirty || addmediaform.controls['videotitle'].touched)">
                                        <mat-error [hidden]=" !addmediaform.get('videotitle')?.hasError('required')  ">
                                            Title is mandatory
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Duration of Video</label>

                                    <mat-form-field appearance="outline">
                                        <input matInput autocomplete="off" class="" formControlName="videoduration"
                                            required>
                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['videoduration'].invalid && (addmediaform.controls['videoduration'].dirty || addmediaform.controls['videoduration'].touched)">
                                        <mat-error
                                            [hidden]=" !addmediaform.get('videoduration')?.hasError('required')  ">
                                            Duration is mandatory
                                        </mat-error>
                                        <mat-error
                                            [hidden]=" !addmediaform.get('videoduration')?.hasError('pattern')  ">
                                            Invalid duration
                                        </mat-error>
                                    </div>
                                </div>

                            </div>
                            <div class="row">


                                <div class="col-4">
                                    <label>Meta keywords</label>

                                    <mat-form-field appearance="outline">
                                        <input matInput autocomplete="off" class="" formControlName="vidoemetakeywords"
                                            required>
                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['vidoemetakeywords'].invalid && (addmediaform.controls['vidoemetakeywords'].dirty || addmediaform.controls['vidoemetakeywords'].touched)">
                                        <mat-error
                                            [hidden]=" !addmediaform.get('vidoemetakeywords')?.hasError('required')  ">
                                            keywords is mandatory
                                        </mat-error>
                                        <mat-error
                                            [hidden]=" !addmediaform.get('vidoemetakeywords')?.hasError('pattern')  ">
                                            Invalid keywords
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Description</label>

                                    <mat-form-field appearance="outline">
                                        <textarea rows="5" matInput autocomplete="off" class=""
                                            formControlName="videodescription" required></textarea>

                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['videodescription'].invalid && (addmediaform.controls['videodescription'].dirty || addmediaform.controls['videodescription'].touched)">
                                        <mat-error
                                            [hidden]=" !addmediaform.get('videodescription')?.hasError('required')  ">
                                            Description is mandatory
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-body mt-2">
                        <hr>
                        <h3 class="ml-3 mb-1">Text with images</h3>

                        <div class="card-body border-light bg-white pt-3 pb-4">
                            <div class=" row pb-4">
                                <div class="col-4 pl-3">
                                    <label>Video Link</label>
                                    <mat-form-field appearance="outline">
                                        <input matInput autocomplete="off" class="" formControlName="imagetitle"
                                            required>

                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['imagetitle'].invalid && (addmediaform.controls['imagetitle'].dirty || addmediaform.controls['imagetitle'].touched)">
                                        <mat-error [hidden]=" !addmediaform.get('imagetitle')?.hasError('required')  ">
                                            Link is mandatory
                                        </mat-error>
                                        <mat-error [hidden]=" !addmediaform.get('imagetitle')?.hasError('pattern')  ">
                                            Invalid link
                                        </mat-error>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <label>Meta keywords</label>

                                    <mat-form-field appearance="outline">
                                        <input matInput autocomplete="off" class="" formControlName="imagekeywords"
                                            required>

                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['imagekeywords'].invalid && (addmediaform.controls['imagekeywords'].dirty || addmediaform.controls['imagekeywords'].touched)">
                                        <mat-error
                                            [hidden]=" !addmediaform.get('imagekeywords')?.hasError('required')  ">
                                            Keywords is mandatory
                                        </mat-error>
                                        <mat-error
                                            [hidden]=" !addmediaform.get('imagekeywords')?.hasError('pattern')  ">
                                            Invalid keywords
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Upload:</label>
                                    <input type="file" id="file" class="border" formControlName="mediafile"
                                        accept=" */*" (change)="onfilechange($event)" required="true" />

                                    <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Paragraph:</label>
                                    <mat-form-field appearance="outline">
                                        <textarea rows="5" matInput autocomplete="off" class=""
                                            formControlName="paragraph" equired></textarea>

                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['paragraph'].invalid && (addmediaform.controls['paragraph'].dirty || addmediaform.controls['paragraph'].touched)">
                                        <mat-error [hidden]=" !addmediaform.get('paragraph')?.hasError('required')  ">
                                            Paragraph is mandatory
                                        </mat-error>
                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>


                    <div class="card-body mt-2">
                        <hr>
                        <h3 class="ml-3 mb-1">Media</h3>

                        <div class="card-body border-light bg-white pt-3 pb-4">
                            <div class=" row pb-4">
                                <div class="col-4">

                                    <label>Title</label>
                                    <mat-form-field appearance="outline">

                                        <input matInput autocomplete="off" class="" formControlName="mediatitle"
                                            required>
                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['mediatitle'].invalid && (addmediaform.controls['mediatitle'].dirty || addmediaform.controls['mediatitle'].touched)">
                                        <mat-error [hidden]=" !addmediaform.get('mediatitle')?.hasError('required')  ">
                                            Title is mandatory
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Meta keywords</label>

                                    <mat-form-field appearance="outline">
                                        <input matInput autocomplete="off" class="" formControlName="mediametakeywords"
                                            rquired>

                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['mediametakeywords'].invalid && (addmediaform.controls['mediametakeywords'].dirty || addmediaform.controls['mediametakeywords'].touched)">
                                        <mat-error
                                            [hidden]=" !addmediaform.get('mediametakeywords')?.hasError('required')  ">
                                            Keywords is mandatory
                                        </mat-error>
                                    </div>
                                    <mat-error
                                        [hidden]=" !addmediaform.get('mediametakeywords')?.hasError('pattern')  ">
                                        Keywords is mandatory
                                    </mat-error>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Description</label>

                                    <mat-form-field appearance="outline">
                                        <textarea rows="5" matInput autocomplete="off" class=""
                                            formControlName="mediadescription" required></textarea>
                                    </mat-form-field>
                                    <div class="error-message"
                                        *ngIf="addmediaform.controls['mediadescription'].invalid && (addmediaform.controls['mediadescription'].dirty || addmediaform.controls['mediadescription'].touched)">
                                        <mat-error
                                            [hidden]=" !addmediaform.get('mediadescription')?.hasError('required')  ">
                                            Description is mandatory
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row  d-flex justify-content-end">
                                <button type="submit" class="col-2 btn btn-outline-secondary btn-rounded  ">
                                    Submit
                                </button>
                                <button  class="col-2 btn btn-outline-secondary btn-rounded  " (click)="cancelbt()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>



    <table mat-table [dataSource]="this.filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
        aria-label="users">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                <label mat-sort-header>
                    S.No
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[0].Value"
                    [filter]="filterData" disabled="true" />
            </th>
            <td mat-cell *matCellDef="let i=index"> {{pageno +i }} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Title
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element2" class="text-center"> {{element2.title | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="description">

            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Description
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[2].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.description }}
            </td>
        </ng-container>

        <ng-container matColumnDef="uploadMediaFile">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Media type
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[3].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.uploadMediaFile}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Time added
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[4].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.duration }} </td>
        </ng-container>

        <ng-container matColumnDef="metaKeyword">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Keywords
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[5].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element " class="text-center"> {{element.metaKeyword }} </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Actions
                </label>
                <input type="text" (keyup)="updatePagination()" disabled="true" />
            </th>
            <td mat-cell *matCellDef="let element " class="text-center">

                <i class="fa-solid fa-eye fs-5 text-info" (click)="viewDetails(element)"
                    matTooltip="View Course Activity" matTooltip="View"></i>
                <span matTooltip="Edit" (click)="editdetails(element)">
                    <i class="fas fa-pencil-alt mx-4" aria-hidden="true"></i>
                </span>
                <span matTooltip="Delete" style="cursor: pointer;" (click)="deletedetails(element.praticeLibaryId)">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                </span>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="card-body" [pageSizeOptions]="[10,25, 50, 100,150,200]" (page)="onpaginatechange($event)"
        aria-label="Select page">
    </mat-paginator>


</div>