<div class="ConfigurationTypes_textpadding ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#/addCourse">Course Management</a></li>          
          <li class="breadcrumb-item active" aria-current="page"> Course Media Pratice sessions</li>
        </ol>
      </nav>
   

    <div class="card mt-5">
        <div class="card-header text-white bg-secondary" >
            Course Media Pratice sessions
      </div>
    <div class="card border-light bg-white pt-3 ">
        <div class="  d-flex flex-row flex-wrap pb-2 ">
            <div class="col-3">
                <label>Select type: </label>

                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="classtype" (ngModelChange)="typechange()">
                        <mat-option value="live">Live</mat-option>
                        <mat-option value="recording">Recording</mat-option>
                    </mat-select>
                    
                </mat-form-field>
                <span class=" mat-error" *ngIf="categoryerror">
                    Please Select Category
                </span>
            </div>
            <div>
                <button type="button" (click)="gobutton()"
                    class="btn btn-outline-secondary mt-4 btn-rounded d-inline-block m-2">
                    Submit
                </button>

            </div>

        </div>
    </div>

        <div *ngIf="displaycontent">
            

            <form [formGroup]="addmediaform"  (ngSubmit)="addmedia()">
                <div class="card mt-5">
                    <div class="card-header text-white bg-secondary" >
                        Add Media
                  </div>
                  <div class="card-body border-light bg-white pt-3 pb-4">
                    <div class=" row pb-4">
                    <div class="col-4 pl-3">
                        <label>Video Link</label>
                        <mat-form-field appearance="outline" >
                            <input matInput autocomplete="off" class="" formControlName="videolink" required>
                            <mat-error [hidden]="!addmediaform.get('videolink')?.hasError('required')">
                                Please Type the video link
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <label>Title</label>

                        <mat-form-field appearance="outline" >
                            <input matInput autocomplete="off" class="" formControlName="videotitle" required>
                            <mat-error [hidden]="!addmediaform.get('videotitle')?.hasError('required')">
                                Please Add Title
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <label>Duration of Video</label>

                        <mat-form-field appearance="outline" >
                            <input matInput autocomplete="off" class="" formControlName="videoduration" required>
                            <mat-error [hidden]="!addmediaform.get('videoduration')?.hasError('required')">
                                Please Type Duration
                            </mat-error>
                        </mat-form-field>
                    </div>
                   
                  </div>
                  <div class="row">
                    
                 
                    <div class="col-4">
                        <label>Meta keywords</label>

                        <mat-form-field appearance="outline" >
                            <input matInput autocomplete="off" class="" formControlName="vidoemetakeywords" required>
                            <mat-error [hidden]="!addmediaform.get('vidoemetakeywords')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <label>Description</label>

                        <mat-form-field appearance="outline" >
                            <textarea rows="5" matInput autocomplete="off" class="" formControlName="videodescription"
                                equired></textarea>
                            <mat-error [hidden]="!addmediaform.get('videodescription')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                  
                </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header text-white bg-secondary" >
                        Text with images
                  </div>
                  <div class="card-body border-light bg-white pt-3 pb-4">
                    <div class=" row pb-4">
                    <div class="col-4 pl-3">
                        <label>Video Link</label>
                        <mat-form-field appearance="outline" >
                            <input matInput autocomplete="off" class="" formControlName="imagetitle" required>
                            <mat-error [hidden]="!addmediaform.get('imagetitle')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                  
                    <div class="col-4">
                        <label>Meta keywords</label>

                        <mat-form-field appearance="outline" >
                            <input matInput autocomplete="off" class="" formControlName="imagekeywords" required>
                            <mat-error [hidden]="!addmediaform.get('imagekeywords')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <label>Upload:</label>
                        <input type="file" id="file" class="border" formControlName="mediafile" accept=" */*"
                            (change)="onfilechange($event)" required="true" />
                        
                        <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>

                    </div>   
                </div>
                  <div class="row">
                    <div class="col">
                        <label>Paragraph:</label>
                        <div class="w-100 ">
                            <angular-editor formControlName="paragraph" [placeholder]="'Enter text here...'"
                                [config]="editorConfig" required [(ngModel)]="description"
                                (keypress)="paragraphchange()">
                            </angular-editor>
                            <mat-error *ngIf="paragrapherror ">
                                Please Type Words
                            </mat-error>
                        </div>
                    </div>
                  
                    
                </div>
                  
                
                </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header text-white bg-secondary" >
                        Text with images
                  </div>
                  <div class="card-body border-light bg-white pt-3 pb-4">
                    <div class=" row pb-4">
                        <div class="col-4">

                            <label>Title</label>
                        <mat-form-field appearance="outline" >
                            
                            <input matInput autocomplete="off" class="" formControlName="mediatitle" required>
                            <mat-error [hidden]="!addmediaform.get('mediatitle')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-4">
                            <label>Meta keywords</label>

                            <mat-form-field appearance="outline" >
                                <input matInput autocomplete="off" class="" formControlName="mediametakeywords" rquired>
                                <mat-error [hidden]="!addmediaform.get('mediametakeywords')?.hasError('required')">
                                    Please Type Few Words
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Description</label>

                            <mat-form-field appearance="outline" >
                                <textarea rows="5" matInput autocomplete="off" class="" formControlName="mediadescription"
                                    equired></textarea>
                                <mat-error [hidden]="!addmediaform.get('mediadescription')?.hasError('required')">
                                    Please Type Few Words
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row  d-flex justify-content-end">
                        <button type="submit" class="col-2 btn btn-outline-secondary btn-rounded  m-2">
                            Submit
                        </button>
                    </div>
                </div>
                </div>
            </form>


        </div>

    </div>

   

    <table mat-table [dataSource]="this.filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
        aria-label="users">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                <label mat-sort-header>
                    S.No
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[0].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Title
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element2" class="text-center"> {{element2.title | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="description">

            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Description
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[2].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.description }}
            </td>
        </ng-container>

        <ng-container matColumnDef="uploadMediaFile">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Media type
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[3].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.uploadMediaFile}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Time added
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[4].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.duration }} </td>
        </ng-container>

        <ng-container matColumnDef="metaKeyword">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Keywords
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[5].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element " class="text-center"> {{element.metaKeyword }} </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Actions
                </label>
            </th>
            <td mat-cell *matCellDef="let element " class="text-center">
              
                <i class="fa-solid fa-eye fs-5 text-info"(click)="viewmanage(element)" 
          matTooltip="View Course Activity" matTooltip="View"></i>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="" [pageSizeOptions]="[5,10,25, 50,75, 100]" aria-label="Select page">
    </mat-paginator>


</div>