<nav id="sidebar" [ngClass]="sidebar? 'active':''">
    <ul class="list-unstyled components">
        <li class="list-unstyled" [ngClass]="{'active': dashboardStatus}">
            <a [routerLink]="['/dashboard']" (click)="onClickDash()">
                <i class="fa-solid fa-gauge"></i>
                <span class="ml-1"> Dashboard</span>
            </a>
        </li>
        <hr class="p-0 m-0">
        <li class="" *ngFor="let menu of menuList; let i=index">
            <a href="#homeSubmenu{{i}}" data-toggle="collapse" [attr.aria-expanded]="selectedIndex === i"
                aria-expanded="false" class="" (click)="onModule(i)">
                <span class="ml-1" *ngIf="sidebar">
                    <!-- <img src="assets/images/sidebar/{{menu.moduleName}}.png" width="20" alt="right arrow" /> -->
                    <i class="fa-solid fa-house"></i>
                </span>
                <span class="ml-1" *ngIf="!sidebar"> {{menu.moduleName}}</span>
            </a>
            <!-- <ng-container *ngIf="selectedIndex === i" [ngbCollapse]="isCollapsed"> -->
            <ng-container *ngIf="selectedIndex === i">
                <ul class="collapse list-unstyled" [ngClass]="{'collapse': this.className === true}"
                    id="homeSubmenu{{i}}">
                    <li class="list-unstyled active" style="cursor: pointer;" *ngFor="let m of menu.subModules;"
                        [ngClass]="{'active': m.subModuleId == menuId }">
                        <!-- <i [(ngclass)]="subMenuIcon(m)"></i> -->

                        <!-- <a (click)="navigateToSubMenu(m)">
                            <i [ngClass]="subMenuIcon(m)" class=""></i>
                            <span>{{m.subModuleName}}</span>
                        </a> -->
                        <a [routerLink]="m.routingLink" (click)="navigateToSubMenu(m)">
                            <!-- <i [ngClass]="subMenuIcon(m)"></i> -->
                            <i [ngClass]="m.icon"></i>
                            <span>{{m.subModuleName}}</span>
                        </a>
                        <!-- <a
                            [routerLink]="[menu.moduleName | casetile] + '/' + [m.subModuleName | casetile]">{{m.subModuleName}}</a> -->
                    </li>
                </ul>
            </ng-container>
            <hr class="p-0 m-0">
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="sidebarCollapse" (click)="onMobileNavClick()" [ngClass]="status ? 'active' : 'inactive'"
        class="d-inline-block text-white btn-toggle text-right w-100 desktop-view">
        <span class="mobile-icon text-center"> &nbsp;
            <span class=" text-black text-primary  active-left">
                <img src="assets/images/arrow-left.png" width="20" alt="left arrow" />
            </span>
            <span class=" text-black text-primary  active-right">
                <img src="assets/images/arrow-right.png" width="20" alt="right arrow" />
            </span>
        </span>
    </div>
</nav>