<div class="container-fluid bg-light">
    <h5>Alerts</h5>

    <mat-card>
        <div class="row">

            <form [formGroup]="alertform" (ngSubmit)="onalertsubmit()">

                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label fw-semibold pt-4">Select Category:</label>
                    <div class="col-sm-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Select category</mat-label>
                            <select matNativeControl formControlName="alertid" [disabled]="disableSelect.value">
                                <option value="" selected></option>
                                <option *ngFor="let item of category" [value]="item.roleId">{{item.roleName}}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="w-100 ">
                    <angular-editor formControlName="paragraph" [placeholder]="'Enter text here...'" required>
                    </angular-editor>

                    <div
                        *ngIf="alertform.controls['paragraph'].invalid && (alertform.controls['paragraph'].dirty || alertform.controls['paragraph'].touched)">
                        <mat-error [hidden]=" !alertform.get('paragraph')?.hasError('required')  ">
                            Please Type Few Words
                        </mat-error>
                    </div>
                </div><br><br>

                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Start date</mat-label>
                            <input matInput formControlName="startdate" placeholder="Ex. Pizza" value="Sushi"
                                type="date">
                            <div
                                *ngIf="alertform.controls['startdate'].invalid && (alertform.controls['startdate'].dirty || alertform.controls['startdate'].touched)">
                                <mat-error [hidden]=" !alertform.get('startdate')?.hasError('required')  ">
                                    Please Type Few Words
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>End date</mat-label>
                            <input matInput formControlName="enddate" placeholder="Ex. Pizza" value="Sushi" type="date">
                            <div
                                *ngIf="alertform.controls['enddate'].invalid && (alertform.controls['enddate'].dirty || alertform.controls['enddate'].touched)">
                                <mat-error [hidden]=" !alertform.get('enddate')?.hasError('required')  ">
                                    Please Type Few Words
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                </div>

                <!-- <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label pt-4">Upload File:</label>
                    <div class="col-sm-8">
                        <input type="file" id="file" (change)="onfilechange()" formControlName="file" accept=" image/*"
                            required="true" />
                    </div>
                    <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>

                </div> -->

                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                            upload
                        </button>

                    </div>

                </div>


            </form>
        </div>

    </mat-card>
  
</div>