<div class="container-fluid ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/addpages">Website Management</a></li>

            <li class="breadcrumb-item active" aria-current="page">Alerts</li>
        </ol>
    </nav>

    <div class="d-flex mb-2 flex-wrap  justify-content-end align-items-center">

        <button type="button" *ngIf="!displaycontent" (click)="addalert()"
            class="btn btn-outline-secondary btn-rounded d-inline-block ">
            Add Alerts
        </button>
    </div>

    <div class="card  bg-secondary" *ngIf="displaycontent">
        <div class="card-header text-white bg-secondary">
            {{iseditable ? "Update" :"Add" }} Alerts
        </div>
        <div class="card-body bg-white py-2">
            <form [formGroup]="alertform" class="mr-5" (ngSubmit)="onalertsubmit()">
                <div class="row">

                    <div class="col-md-3">
                        <div class="row align-items-center ">
                            <label>Select Category : </label>
                            <div class="col">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select matNativeControl formControlName="alertid" [disabled]="iseditable"
                                        [compareWith]="compareselect">
                                        <mat-option *ngFor="let item of category"
                                            [value]="item.roleId">{{item.roleName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error [hidden]=" !alertform.get('alertid')?.hasError('required')  ">
                                        Category is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row align-items-center ">
                            <label>Start date : </label>

                            <div class="col">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <!-- <mat-label>Start date</mat-label> -->
                                    <input matInput formControlName="startdate" type="date">
                                    <mat-error [hidden]="!alertform.get('startdate')?.hasError('required')  ">
                                        Date is mandatory
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="row align-items-center ">
                            <label>End date : </label>

                            <div class="col">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <!-- <mat-label>End date</mat-label> -->
                                    <input matInput formControlName="enddate" type="date">
                                    <mat-error [hidden]=" !alertform.get('startdate')?.hasError('required')  ">
                                        Date is mandatory
                                    </mat-error>
                                </mat-form-field>



                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-3">


                        <div class="row align-items-center ">
                            <label>Upload File : </label>

                            <div class="col">
                                <input type="file" id="file" class="border" (change)="onfilechange($event)"
                                    formControlName="file" accept=" image/*" required="true" />
                                <mat-error *ngIf="filerror">File is mandatory</mat-error>

                            </div>
                        </div>
                    </div> -->


                </div>
                <br />
                <div class="row align-items-center ">
                    <div class="col-md-6">
                        <div class="row align-items-center ">
                            <label>Description : </label>

                            <div class="col">
                                <mat-form-field class="example-full-width" appearance="outline" id="field">
                                    <!-- <mat-label>Health is wealth</mat-label> -->
                                    <textarea matInput formControlName="paragraph"></textarea>
                                    <mat-error [hidden]=" !alertform.get('paragraph')?.hasError('required')  ">
                                        Description is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3" [hidden]="!issubmit">
                        <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block ">
                            {{iseditable ? "Add" :"Submit" }}
                        </button>

                    </div>
                    <div class="col-md-3">
                        <button type="button" (click)="reseteditable()"
                            class="btn btn-outline-secondary btn-rounded d-inline-block ">
                            Cancel
                        </button>
                    </div>


                </div>
                <br />
            </form>
        </div>
    </div>
    <br />

    <div class="card ">
        <div class="card-header text-white bg-secondary">
            Alerts
        </div>
        <div class="bg-transparent px-0 py-0">
            <table mat-table [dataSource]="filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
                aria-label="alertId">
                <ng-container matColumnDef="alertId">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                        <label mat-sort-header>
                            S.No
                        </label>
                        <input type="text" (keyup)="updatePagination('courseId')"
                            [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" disabled />
                    </th>
                    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="alertDescription">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                        <label mat-sort-header>
                            Description
                        </label>
                        <input type="text" (keyup)="updatePagination('category')"
                            [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.alertDescription}} </td>
                </ng-container>
                <ng-container matColumnDef="categoryId">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Category
                        </label>
                        <input type="text" (keyup)="updatePagination('courseName')"
                            [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Start date
                        </label>
                        <input type="text" (keyup)="updatePagination('courseDuration')"
                            [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate }} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            End date
                        </label>
                        <input type="text" (keyup)="updatePagination('startDate')"
                            [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px;" scope="col">
                        <label mat-sort-header>
                            Actions
                        </label>
                        <input type="text" (keyup)="updatePagination('currentStatus')"
                            [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData" disabled />
                    </th>
                    <td mat-cell *matCellDef="let element ">
                        <div class="d-flex flex-wrap justify-content-evenly align-items-center">
                            <i class="fa-solid fa-eye fs-5 text-info" (click)="viewdetails(element)"
                                matTooltip="View Course Activity" matTooltip="View"></i>
                            <span matTooltip="Edit" (click)="editdetails(element)">
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            </span>
                            <span matTooltip="Delete" style="cursor: pointer;" (click)="deletedetails(element.alertId)">
                                <i class="far fa-trash-alt" aria-hidden="true"></i>
                            </span>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="card-body" [pageSizeOptions]="[10,25, 50, 100,150,200]" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>