<div class="container-fluid ">
    <!-- remove bg-light -->

    <!-- <h5>Alerts</h5> -->
    <h3 class="mb-3 pl-2"> Alerts </h3>
    <div class="card-body bg-white  py-5">


        <form [formGroup]="alertform" class="mr-5" (ngSubmit)="onalertsubmit()">


            <div class="row align-items-center ">
                <h6 class="text-md-right col-md-4">Select Category : </h6>

                <div class="col">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Select Category</mat-label>
                        <mat-select matNativeControl formControlName="alertid">
                            <mat-option *ngFor="let item of category" [value]="item.roleId">{{item.roleName}}
                            </mat-option>
                        </mat-select>
                        <mat-error [hidden]=" !alertform.get('fromdate')?.hasError('required')  ">
                            Please Select Alert
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div class="row align-items-center ">
                <h6 class="text-md-right col-md-4">Description : </h6>

                <div class="col">
                    <angular-editor formControlName="paragraph" [placeholder]="'Enter text here...'" required>
                    </angular-editor>
                    <div
                        *ngIf="alertform.controls['paragraph'].invalid && (alertform.controls['paragraph'].dirty || alertform.controls['paragraph'].touched)">
                        <mat-error [hidden]=" !alertform.get('paragraph')?.hasError('required')  ">
                            Please Type Few Words
                        </mat-error>
                    </div>
                </div>
            </div>
            <br />
            <div class="row align-items-center ">
                <h6 class="text-md-right col-md-4">Start date : </h6>

                <div class="col">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <!-- <mat-label>Start date</mat-label> -->
                        <input matInput formControlName="startdate" type="date">
                        <div
                            *ngIf="alertform.controls['startdate'].invalid && (alertform.controls['startdate'].dirty || alertform.controls['startdate'].touched)">
                            <mat-error [hidden]=" !alertform.get('startdate')?.hasError('required')  ">
                                Please Select the date
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div class="row align-items-center ">
                <h6 class="text-md-right col-md-4">End date : </h6>

                <div class="col">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <!-- <mat-label>End date</mat-label> -->
                        <input matInput formControlName="enddate" type="date">
                        <div
                            *ngIf="alertform.controls['enddate'].invalid && (alertform.controls['startdate'].dirty || alertform.controls['startdate'].touched)">
                            <mat-error [hidden]=" !alertform.get('startdate')?.hasError('required')  ">
                                Please Select the date
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center ">
                <h6 class="text-md-right col-md-4">Upload File : </h6>

                <div class="col">
                    <input type="file" id="file" class="border" (change)="onfilechange($event)" formControlName="file"
                        accept=" image/*" required="true" />
                    <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>

                </div>
            </div>
            <!-- <div class="row">
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label fw-semibold pt-4">Select Category:</label>
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Category</mat-label>
                            <mat-select matNativeControl formControlName="alertid">
                                <mat-option *ngFor="let item of category" [value]="item.roleId">{{item.roleName}}
                                </mat-option>
                            </mat-select>

                            <mat-error [hidden]=" !alertform.get('alertid')?.hasError('required')  ">
                                Please Select Alert
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="w-100 ">
                    <angular-editor formControlName="paragraph" [placeholder]="'Enter text here...'" required>
                    </angular-editor>

                    <div
                        *ngIf="alertform.controls['paragraph'].invalid && (alertform.controls['paragraph'].dirty || alertform.controls['paragraph'].touched)">
                        <mat-error [hidden]=" !alertform.get('paragraph')?.hasError('required')  ">
                            Please Type Few Words
                        </mat-error>
                    </div>
                </div><br><br>

                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Start date</mat-label>
                            <input matInput formControlName="startdate" type="date">
                            <div
                                *ngIf="alertform.controls['startdate'].invalid && (alertform.controls['startdate'].dirty || alertform.controls['startdate'].touched)">
                                <mat-error [hidden]=" !alertform.get('startdate')?.hasError('required')  ">
                                    Please Select the date
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>End date</mat-label>
                            <input matInput formControlName="enddate" type="date">
                            <div
                                *ngIf="alertform.controls['enddate'].invalid && (alertform.controls['enddate'].dirty || alertform.controls['enddate'].touched)">
                                <mat-error [hidden]=" !alertform.get('enddate')?.hasError('required')  ">
                                    Please Select the date
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label pt-4">Upload File:</label>
                    <div class="col-sm-8">
                        <input type="file" id="file" class="border" (change)="onfilechange($event)"
                            formControlName="file" accept=" image/*" required="true" />
                    </div>
                    <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>

                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                        Upload
                    </button>
                </div>
            </div> -->
            <br />
            <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2 float-md-right">
                Upload
            </button>

        </form>
        <br />

    </div>

</div>