<div class="ConfigurationTypes_textpadding">

    <div class="card border-light" *ngIf="isAddSubModuleForm">
        <div class="card-header text-white bg-secondary">
            Add Sub Menu
        </div>
        <form [formGroup]="AddSubModuleForm" (ngSubmit)="onSubModuleSubmit()">
            <div class="card-body bg-white">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label>Select Menu </label>
                            <mat-form-field appearance="outline">
                                <!-- <mat-label>Select Menu</mat-label> -->
                                <mat-select formControlName="menuName" required>
                                    <mat-option>Select Menu</mat-option>
                                    <mat-option *ngFor="let menu of MenuList" [value]="menu.moduleId">
                                        {{menu.moduleName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="AddSubModuleForm.controls['menuName'].hasError('required')">
                                    Menu is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label>Sub Menu Name </label>
                            <mat-form-field appearance="outline">
                                <!-- <mat-label>Sub Menu Name</mat-label> -->
                                <input matInput autocomplete="off" formControlName="subMenuName" required>
                                <mat-error *ngIf="AddSubModuleForm.controls['subMenuName'].hasError('required')">
                                    Sub Menu name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="mb-3 mt-1 pt-3">
                            <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2" *ngIf="issubmit">
                                
                       
                        {{editMode  ? "Update" :"Submit " }}
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
                                (click)="onCancel()"> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h3> Sub Menu List
        
        <span class="float-end mb-2">
            <button type="button" class="btn btn-outline-secondary btn-rounded"
                *ngIf="!isAddSubModuleForm && pagePermissions.Add" (click)="onAddSubMenu()"> Add Sub Menu </button>
        </span>
        <div style="height:10px">
            <div *ngIf="errorMessage" [ngStyle]="{'color': errorType == 'Error' ? 'red':'green'}"
                class="notificationMessage">{{Message}}</div>
        </div>
    </h3>
    <div class="clearfix"></div>
    <div class="card-header text-white bg-secondary">
         Sub Menu list
    </div>

    <table mat-table [dataSource]="this.filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
        aria-label="subMenu">

        <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                <label mat-sort-header>
                    S.No
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[0].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let i=index"> {{pageno +i }} </td>
        </ng-container>

        <ng-container matColumnDef="menuName">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Menu Name
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element"> {{element.moduleId.moduleName}} </td>
            <!-- <td mat-cell *matCellDef="let menu of MenuList"> {{menu.moduleName}} </td> -->
        </ng-container>

        <ng-container matColumnDef="subMenuName">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Sub Menu Name
                </label>
                <input type="text" (keyup)="updatePagination()" [(ngModel)]="filterData.filterColumnNames[2].Value"
                    [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element"> {{element.subModuleName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef scope="col">
                <label mat-sort-header>
                    Actions
                </label>
                <input type="text" (keyup)="updatePagination()" disabled [filter]="filterData" />
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.status == 'Y'? true : false"
                    (change)="onActivateSubMenu(element,$event)"></mat-slide-toggle>
                <span matTooltip="Edit" *ngIf="!!pagePermissions.Edit" (click)="onEditSubMenu(element)"> <i
                        class="fas fa-pencil-alt" aria-hidden="true"></i> </span>
                <span matTooltip="Delete" style="cursor: pointer;" *ngIf="!!pagePermissions.Delete"
                    (click)="onsubMenuDelete(element)"> <i class="far fa-trash-alt" aria-hidden="true"></i> </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="card-body" [pageSizeOptions]="[10,25, 50, 100,150,200]" (page)="onpaginatechange($event)"
        aria-label="Select page">
    </mat-paginator>
</div>