<div class="ConfigurationTypes_textpadding">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/mentorViewProfile">Student Management</a></li>

            <li class="breadcrumb-item active" aria-current="page">View Student</li>
        </ol>
    </nav>
    <!-- Select Student -->
    <div class="card bg-secondary">
        <div class="card-header bg-secondary text-white">
            Student profile
        </div>
        <div class="card-body bg-white py-2">
            <div class="row align-items-center">
                <div class="col-md-3 ">
                    <label>Student</label>
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="selectedStudent" (selectionChange)="onSelectStudent()"
                            disableOptionCentering required>
                            <mat-option *ngFor="let student of StudentList" [value]="student">
                                {{student.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="selectedStudent">
                    <label> Course</label>
                    <mat-form-field appearance="outline">

                        <mat-select [(ngModel)]="selectedCourse" required>
                            <mat-option *ngFor="let course of CourseList" [value]="course.coursesId">
                                {{course.coursesName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="selectedCourse">
                    <button type="button" class="btn btn-outline-secondary btn-rounded mt-3" (click)="submit()"> Submit
                    </button>

                </div>
            </div>

        </div>
    </div>
    <!-- Tabs -->
    <div class="student-profile ty-tabs" *ngIf="displaycontent" style="background:#f5f5f5;">
        <div class="card-header text-white bg-secondary">
            Student Details
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item ">
                <a class="nav-link active px-5  fw-bold" data-toggle="tab" href="#tabs-1" role="tab">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4 fw-bold" data-toggle="tab" href="#tabs-2" role="tab">Performance Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4 fw-bold" data-toggle="tab" href="#tabs-3" role="tab"> Donations </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4 fw-bold" data-toggle="tab" href="#tabs-4" role="tab"> e-Purchase Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4 fw-bold" data-toggle="tab" href="#tabs-5" role="tab"> Volunteering Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4 fw-bold" data-toggle="tab" href="#tabs-6" role="tab"> Courses Profile </a>
            </li>
        </ul>

        <div class="tab-content" style="background:#f5f5f5;">
            <!-- Profile Tab -->
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <app-profiletab [student]="selectedStudent"></app-profiletab>
            </div>
            <!-- Performance Tab -->
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <app-performance-details [student]="selectedStudent"></app-performance-details>

            </div>

            <!-- Donation  tab -->
            <div class="tab-pane" id="tabs-3" role="tabpanel">
                <app-donation-tab [student]="selectedStudent"></app-donation-tab>
            </div>

            <!-- ePurchase  tab -->
            <div class="tab-pane" id="tabs-4" role="tabpanel">
                <app-epurchase-information [student]="selectedStudent"></app-epurchase-information>
            </div>

            <!-- ePurchase  tab -->
            <div class="tab-pane" id="tabs-5" role="tabpanel">
                <app-volunteering-details [student]="selectedStudent"></app-volunteering-details>
            </div>

            <!-- Course Profile tab -->
            <div class="tab-pane" id="tabs-6" role="tabpanel">
                <app-courseprofiletab [student]="selectedStudent"></app-courseprofiletab>
            </div>
        </div>
    </div>

    <!-- Profile Tab -->



</div>