<div class="ConfigurationTypes_textpadding p-5 ">
        <!-- remove bg-light -->

    <h3 class="mb-4 pl-2 text-secondary ">Task Assignment</h3>
    <div class="bg-white  border ">
        <div class="d-flex flex-wrap  justify-content-between align-items-center px-4 pt-2">

            <div class="d-flex flex-row justify-content-between  flex-wrap   ">
                <div class="">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Course</mat-label>
                        <mat-select [(ngModel)]="course" (ngModelChange)="coursechange()">
                            <mat-option *ngFor="let course of courseList" [value]="course.coursesId">
                                {{course.coursesName}}</mat-option>
                        </mat-select>
                        <span class="text-dark mat-error" *ngIf="courserror">
                            Please Select Course
                        </span>

                    </mat-form-field>
                </div>
                <div class="mt-md-3 ml-1">
                    <button type="button" (click)="gobutton()"
                        class="btn btn-outline-secondary btn-rounded d-inline-block "> Go
                    </button>
                </div>

            </div>
            <br /><br /><br />
            <div class="d-flex flex-row flex-wrap justify-content-between  ">
                <div class="" *ngIf="displaycontent">
                    <button type="button" (click)="createtask()"
                        class="btn btn-outline-secondary btn-rounded d-inline-block mb-md-3 ">
                        <!-- <i class="fa-sharp fa-solid fa-plus"></i> -->
                         Create Task
                    </button>
                </div>
            </div>


        </div>
        <hr />

        <div class="px-4">
            <table mat-table [dataSource]="filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
                aria-label="users">

                <ng-container matColumnDef="taskName">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Task Name
                        </label>
                        <input type="text" (keyup)="updatePagination('courseId')"
                            [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.taskName | titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="createDate">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Date of assignment
                        </label>
                        <input type="text" (keyup)="updatePagination('Region')"
                            [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element">
                        {{element.createDate || "NIL"}}

                    </td>
                </ng-container>

                <ng-container matColumnDef="type">

                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Type
                        </label>
                        <input type="text" (keyup)="updatePagination('Country')"
                            [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"><a
                            class="text-decoration-underline text-primary" target="_blank" rel=”noreferrer”
                            [href]="element.mediafile">Video</a> </td>
                </ng-container>

                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Due date for submission
                        </label>
                        <input type="text" (keyup)="updatePagination('State')"
                            [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element"> {{element.dueDate }} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            View Details
                        </label>
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element">
                        <button type="button" (click)="viewdetails(element)"
                            class="btn btn-outline-secondary btn-rounded d-inline-block "> View Details</button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br />
            <div class="d-flex  flex-row justify-content-end ">
                <mat-paginator class="" [pageSizeOptions]="[10,25, 50, 100]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>