<div class="ConfigurationTypes_textpadding">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/studentDashboard">Student Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resources</li>
        </ol>
    </nav>

    <div class="card bg-secondary">
        <div class="card-header text-white bg-secondary">
            Resources
        </div>
        <div class="card-body bg-white py-2">
            <div class="row">
                <div class="col-md-8">

                    <div class="">
                        <div class="d-flex flex-row flex-wrap align-items-center     ">
                            <mat-icon>volume_up</mat-icon>&nbsp;
                            <h6>Audio Library - Dharanas </h6>

                        </div>
                    </div>






                </div>

                <div class="col-md-4">

                </div>

            </div>
        </div>
    </div>








</div>