<div class="ConfigurationTypes_textpadding">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#/studentDashboard">Student Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resources</li>
        </ol>
    </nav>

    <div class="card bg-secondary">
        <div class="card-header text-white bg-secondary">
            Resources
        </div>
        <div class="card-body bg-white py-2">
            <div class="row">
                <div class="col-md-8">
                    <!-- Audio Library -->
                    <div class="">
                        <div class="d-flex flex-row flex-wrap align-items-center     ">
                            <mat-icon>volume_up</mat-icon>&nbsp;
                            <h6>Audio Library - Dharanas </h6>
                        </div>
                        <hr />
                        <div class="row align-items-center ">
                            <div class="col ">
                                <mat-form-field appearance="outline" class="fld">
                                    <input matInput [(ngModel)]="audioValue" (ngModelChange)="audioChangeEvent()"
                                        placeholder="Search Audio Library">
                                    <mat-icon matPrefix class="my-icon">search</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <i class="fa-solid fa-sliders btn btn-outline-secondary"
                                    (click)="openAudioSliders()"></i>
                            </div>
                        </div>
                        <br />
                        <!-- Audio List -->
                        <div class="row">
                            <div class="col-md mb-2 ">
                                <mat-checkbox
                                    (change)="audioCheckboxChange($event,'C:\\Users\\User\\Music\\audio1.mp3')"
                                    class="border p-3 border-secondary rounded" labelPosition="before">
                                    <div class="d-flex flex-row flex-wrap align-items-center">
                                        <mat-icon>volume_up</mat-icon>&nbsp;
                                        <p>Filename.mp4 </p>
                                    </div>
                                </mat-checkbox>
                            </div>

                            <div class="col-md mb-2 ">
                                <mat-checkbox
                                    (change)="audioCheckboxChange($event,'C:\\Users\\User\\Music\\audio2.mp3')"
                                    class="border p-3 border-secondary rounded" labelPosition="before">
                                    <div class="d-flex flex-row flex-wrap align-items-center">
                                        <mat-icon>volume_up</mat-icon>&nbsp;
                                        <p>Filename.mp4 </p>
                                    </div>
                                </mat-checkbox>
                            </div>

                        </div>

                        <!-- Audio Player -->
                        <div class="" *ngIf="localAudioList.length >0">
                            <marquee>{{audioSrc}}</marquee>
                            <audio controls class="w-100" (load)="audioloaded()" (pause)="audiopause()"
                                (play)="audioplaying()" (ended)="audioended()">
                                <source [src]="audioSrc" type="audio/*">

                                Your browser does not support the audio element.
                            </audio>
                        </div>



                    </div>
                    <hr />
                    <!-- Practice Library -->
                    <div class="">
                        <div class="d-flex flex-row flex-wrap align-items-center     ">
                            <mat-icon>volume_up</mat-icon>&nbsp;
                            <h6>Practice library >> {{currentPracticeLibrary}} </h6>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <mat-form-field appearance="outline" class="fld">
                                    <input matInput [(ngModel)]="practiceLibraryValue"
                                        (ngModelChange)="changepracticeLibrary()" placeholder="Search practice Library">
                                    <mat-icon matPrefix class="my-icon">search</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <br />
                        <!-- Practice library list -->
                        <div class="row">
                            <div class="col-md mb-2 border-bottom py-3  ">
                                <a href="" target="_blank" rel="noopener noreferrer"
                                    class="d-flex flex-row flex-wrap align-items-center" (click)="playLibrary()">
                                    <i class="fa-brands fa-youtube fs-5"></i>&nbsp;&nbsp;&nbsp;
                                    <p>Filename.mp4 </p>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <!-- Audio Library DropdownSection -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="bg-secondary ">
                            <mat-panel-title class="text-white">
                                <div class="d-flex flex-row flex-wrap align-items-center     ">
                                    <mat-icon>volume_up</mat-icon>&nbsp;
                                    <h6>Audio Library - Dharanas </h6>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row align-items-center p-2">
                            <div class="col-md-12  text-justify btn" *ngFor="let audiocategory of audioCategoryList"
                                (click)="openAudioCategory(audiocategory)">
                                <div class="d-flex flex-row align-items-center     ">
                                    <mat-icon>volume_up</mat-icon>&nbsp;
                                    <p>{{audiocategory.audioName}} </p>
                                </div>
                                <hr />
                            </div>

                        </div>
                    </mat-expansion-panel>

                    <!-- Pratice Library DropDown Session -->
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header class="bg-secondary ">
                            <mat-panel-title class="text-white">
                                <div class="d-flex flex-row flex-wrap align-items-center     ">
                                    <mat-icon>library_books</mat-icon>&nbsp;
                                    <h6>Practice Library</h6>
                                </div>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div class="row p-2">
                            <div class="col-md-4" (click)="practiceLibraryDetails(library)"
                                *ngFor="let library of practiceLibraryList">
                                <img src="https://traditionalyoga.s3.us-west-2.amazonaws.com/wp-content/uploads/2022/09/28065643/Guru.webp"
                                    class="img-fluid" alt="Responsive image">
                                <h6 class="text-center">{{library.categoryName | titlecase}}</h6>
                            </div>
                        </div>
                        <hr />
                        <h4 class="px-0">Special classification Dharanas</h4>
                        <div class="row p-2">
                            <div class="col-md-6 btn" (click)="practiceLibraryDetails(library)"
                                *ngFor="let library of dharansCategoryList">
                                <img src="https://traditionalyoga.s3.us-west-2.amazonaws.com/wp-content/uploads/2022/09/28065643/Guru.webp"
                                    class="img-fluid" alt="Responsive image">
                                <h6 class="text-left">{{library.subCategoryName | titlecase}}</h6>
                            </div>
                        </div>

                    </mat-expansion-panel>

                    <!-- Scriptures DropDown -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="bg-secondary ">
                            <mat-panel-title class="text-white">
                                <div class="d-flex flex-row flex-wrap align-items-center     ">
                                    <i class="fa-solid fa-scroll-torah"></i> &nbsp;
                                    <h6>Scriptures</h6>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="p-2">
                            <div class="d-flex flex-row  flex-wrap justify-content-around align-items-center"
                                (click)="openScriptures()">
                                <i class="fa-solid fa-book-open fs-5"></i>
                                <div class="">
                                    <p>Meditation teacher training course</p>
                                    <p>({{dummydate | date:"mediumDate"}} - {{dummydate | date:"mediumDate"}})</p>
                                </div>
                            </div>
                        </div>

                    </mat-expansion-panel>

                    <!-- Glimpses DropDown -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="bg-secondary ">
                            <mat-panel-title class="text-white">
                                <div class="d-flex flex-row flex-wrap align-items-center     ">
                                    <i class="fa-solid fa-scroll-torah"></i> &nbsp;
                                    <h6>Glimpses</h6>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="p-2">
                            <div class="d-flex flex-row  flex-wrap justify-content-around align-items-center"
                                (click)="openGlimpses()">
                                <div class="">
                                    <p>Meditation teacher training course</p>
                                    <p>({{dummydate | date:"mediumDate"}} - {{dummydate | date:"mediumDate"}})</p>
                                </div>
                            </div>
                            <hr />
                        </div>

                    </mat-expansion-panel>
                </div>

            </div>
        </div>
    </div>





</div>