<div class="ConfigurationTypes_textpadding ">
  <h3 class="mb-4  text-secondary"> Donations Management </h3>
  <div class="bg-white mx-1 row ">
    <form class="col mt-3 d-flex  flex-wrap" [formGroup]="dateForm" (submit)="filterDate()">
      <div class="row">
        <div class="col-md-4">
      <mat-form-field class="" appearance="outline">
        <mat-label>From date</mat-label>
        <input matInput formControlName="fromdate" placeholder="From date" type="date">

      </mat-form-field>
      </div>
      <div class="col-md-4">
      <mat-form-field class="" appearance="outline">
        <mat-label>To date</mat-label>
        <input matInput formControlName="todate" placeholder="To date" type="date">

      </mat-form-field>
    </div>
  
   
      
    <div class="col-md-4">
        <mat-form-field appearance="outline" class="">
          <mat-label>Region</mat-label>
          <!-- <input type="text" placeholder="Pick one" aria-label="Region" matInput
          formControlName="regiondropdown" (valueChange)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let country of countryfilter |async " [value]="country">
                  {{country}}
              </mat-option>
          </mat-autocomplete> -->
          <input matInput type="text" formControlName="regiondropdown">
      </mat-form-field>
      </div>

      <div class="col-md-4">
      <mat-form-field appearance="outline" class="" >
        <mat-label>Country</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Country" matInput
        formControlName="countrydropdown" (valueChange)="updatePagination()"
        [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let country of countryfilter |async " [value]="country">
                {{country}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    </div>

    <div class=" col-md-4 mt-2">
    <button class="bg-light border-secondary   btn-rounded ">Go</button>
  </div>
  </div>

    
  </form>
    
  </div>
  <div class="row  bg-white pt-4 mx-1 d-flex flex-wrap">

    <div class="col-md-4 border-top border-left border-bottom  py-4  text-center">
      <!-- add icon -->
      <h1 class="text-muted  pt-4"><i class="fas fa-rupee-sign"></i></h1>
    </div>
    <div class="col-md-8  border-top border-right border-bottom py-5 ps-4  my-auto">
      <p class="fw-lighter">Total Amount of Donations Received</p>
      <h3> {{ total | currency:"INR"}}</h3>
      
    </div>

  </div>

  <div class=" rounded mt-3 mat-elevation-z8 table-responsive">
    <table mat-table matSort [dataSource]="filterData.dataSource"class="mat-elevation-z8 mat-datagrid ">


      <ng-container matColumnDef="S_No">
        <th mat-header-cell *matHeaderCellDef class="col-1" >   <label mat-sort-header>
          S.No
      </label>
      
      <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" />
        </th>
        <td mat-cell *matCellDef="let i=index" class="col-1 text-center"> {{i+1}} </td>
      </ng-container>


      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef class="col-2 text-center">  <label mat-sort-header>
          Date
      </label>
      
      <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" /></th>
        <td mat-cell *matCellDef="let element" class="col-2 text-center"> {{element.Date}} </td>
      </ng-container>


      <ng-container matColumnDef="DonorName">
        <th mat-header-cell *matHeaderCellDef class="col-2 text-center"> <label mat-sort-header>
         Donor Name
      </label>
      
      <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />  </th>
        <td mat-cell *matCellDef="let element" class="col-2 text-center"> {{element.DonorName}} </td>
      </ng-container>


      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef class="col-2 text-center"> <label mat-sort-header>
          Country
      </label>
      
      <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" /> </th>
        <td mat-cell *matCellDef="let element" class="col- text-center"> {{element.Country}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef class="col-1 text-center">  <label mat-sort-header>
          Currency
      </label>
      
      <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData" /></th>
        <td mat-cell *matCellDef="let element" class="col-1 text-center"> {{element.currency}} </td>
      </ng-container> -->

      <ng-container matColumnDef="Amountdonated">
        <th mat-header-cell *matHeaderCellDef class="col-2 text-center">  <label mat-sort-header>
          Amount donated in Rs
      </label>
      
      <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData" /></th>
        <td mat-cell *matCellDef="let element" class="col-2 text-center"> {{element.Amountdonated}} </td>
      </ng-container>
      <ng-container matColumnDef="pan">
        <th mat-header-cell *matHeaderCellDef class="col-2 text-center"><label mat-sort-header>
          PAN
      </label>
      
      <input type="text" (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData" /> </th>
        <td mat-cell *matCellDef="let element" class="col-2 text-center"> {{element.pan}} </td>
      </ng-container>
     

      <ng-container matColumnDef="ViewDetails">
        <th mat-header-cell *matHeaderCellDef class=" text-center col"> View Details</th>
        <td mat-cell *matCellDef="let element" class="d-flex justify-content-center col-1 ml-5"
          (click)="viewDetails('sad')"> <i class="fa fa-eye" style="color:purple"></i> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="bg-white d-flex  flex-row justify-content-end ">
    <mat-paginator class="" [pageSizeOptions]="[5,10,25, 50, 100]" aria-label="Select page">
    </mat-paginator>
</div>
</div>