<div class="ConfigurationTypes_textpadding p-5 bg-light">
    <h3 class="mb-4 pl-2 text-secondary "> Donation Management</h3>
<div class="bg-white">
    <div class="row">
        <mat-form-field appearance="fill">
            <!-- <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> -->
          </mat-form-field>
    </div>
</div>
   
    

</div>