<div class="ConfigurationTypes_textpadding ">
  <h3 class="mb-4 pl-2 text-secondary"> Donations Management </h3>
  <div class="bg-white px-2 row">
    <form class="col-8 mt-3" [formGroup]="dateForm" (submit)="filterDate()">
      <mat-form-field class="col-5 border-2 mt-2" appearance="outline">
        <mat-label>From date</mat-label>
        <input matInput formControlName="fromdate" placeholder="From date" type="date">

      </mat-form-field>
      <mat-form-field class="col-5 border-2 mt-2" appearance="outline">
        <mat-label>To date</mat-label>
        <input matInput formControlName="todate" placeholder="To date" type="date">

      </mat-form-field>
      <button class="bg-light border-secondary col-1 p-2 rounded">Go</button>
    </form>
    <div class="col-4 mt-3">
      <form [formGroup]="dateForm">

        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Country" matInput
          formControlName="dropdownbtn" (valueChange)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let country of countryfilter |async " [value]="country">
                  {{country}}
              </mat-option>
          </mat-autocomplete>
      </mat-form-field>


      </form>
    </div>
  </div>
  <div class="row  bg-white pt-4 ">

    <div class="col-md-4 border-top border-left border-bottom  py-4  text-center">
      <!-- add icon -->
      <h1 class="text-muted  pt-4"><i class="fas fa-rupee-sign"></i></h1>
    </div>
    <div class="col-md-8  border-top border-right border-bottom py-5 ps-4  my-auto">
      <p class="fw-lighter">Total Amount of Donations Recived</p>
      <h3> {{ total | currency:"INR"}}</h3>
      
    </div>

  </div>

  <div class=" rounded mt-3 mat-elevation-z8">
    <table mat-table mat-sort [dataSource]="filterData.dataSource"class="mat-elevation-z8 table-striped ">


      <ng-container matColumnDef="S_No">
        <th mat-header-cell *matHeaderCellDef class="col-2"> S.No </th>
        <td mat-cell *matCellDef="let element" class="col-2"> {{element.S_No}} </td>
      </ng-container>


      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef class="col-2"> Date</th>
        <td mat-cell *matCellDef="let element" class="col-2"> {{element.Date}} </td>
      </ng-container>


      <ng-container matColumnDef="DonorName">
        <th mat-header-cell *matHeaderCellDef class="col-2"> Donor Name </th>
        <td mat-cell *matCellDef="let element" class="col-2"> {{element.DonorName}} </td>
      </ng-container>


      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef class="col-2"> Country</th>
        <td mat-cell *matCellDef="let element" class="col-2"> {{element.Country}} </td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef class="col-2"> Currency</th>
        <td mat-cell *matCellDef="let element" class="col-2"> {{element.currency}} </td>
      </ng-container>

      <ng-container matColumnDef="Amountdonated">
        <th mat-header-cell *matHeaderCellDef class="col"> Amount donated in Rs</th>
        <td mat-cell *matCellDef="let element" class="col"> {{element.amountDonated}} </td>
      </ng-container>
     

      <ng-container matColumnDef="ViewDetails">
        <th mat-header-cell *matHeaderCellDef class=" text-center col-2"> ViewDetails</th>
        <td mat-cell *matCellDef="let element" class="d-flex justify-content-center col-2 my-4 ml-3"
          (click)="viewDetails('sad')"> <i class="fa fa-eye" style="color:purple"></i> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="bg-white d-flex  flex-row justify-content-end ">
    <mat-paginator class="" [pageSizeOptions]="[5,10,25, 50, 100]" aria-label="Select page">
    </mat-paginator>
</div>
</div>