<div class="ConfigurationTypes_textpadding p-0">
    <!-- <h5>Class Media Update</h5> -->


    <div class="d-flex mb-2 flex-wrap  justify-content-end align-items-center">
        <button type="button" (click)="gobutton()" *ngIf="!displayContent"
            class="btn btn-outline-secondary btn-rounded d-inline-block ">
            Add Glimpse
        </button>
    </div>
    <div class="card  bg-secondary" *ngIf="displayContent">
        <div class="card-header text-white bg-secondary">
            {{isEditable ? "Update" :isSubmit?"Add":'' }} Glimpse

        </div>
        <div class="card-body  bg-white py-2" *ngIf="displayContent">
            <form [formGroup]="glimpseForm">
                <div class="row">
                    <div class="col-md-4">
                        <label>Course</label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="course" [disabled]="isEditable">
                                <mat-option *ngFor="let course1 of courses" [value]="course1.coursesId">
                                    {{course1.coursesName}}</mat-option>
                            </mat-select>

                        </mat-form-field>
                        <div class="error-message"
                            *ngIf="glimpseForm.controls['course'].invalid && (glimpseForm.controls['course'].dirty || glimpseForm.controls['course'].touched)">
                            <mat-error [hidden]=" !glimpseForm.get('course')?.hasError('required')  ">
                                Course is mandatory
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Class Date</label>
                        <div class="col px-0">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput formControlName="date" type="date">
                            </mat-form-field>
                            <div class="error-message"
                                *ngIf="glimpseForm.controls['date'].invalid && (glimpseForm.controls['date'].dirty || glimpseForm.controls['date'].touched)">
                                <mat-error [hidden]=" !glimpseForm.get('date')?.hasError('required')  ">
                                    Date is mandatory
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Upload File</label>
                        <div class="col px-0">
                            <input type="file" class="border" id="file" (change)="filechange($event)"
                                formControlName="file" accept=" image/*" />
                        </div>
                    </div>


                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="row">
                            <label>Language</label>
                            <div class="col">
                                <mat-form-field appearance="outline">

                                    <mat-select formControlName="language" [disabled]="isEditable"
                                        (selectionChange)="swapothers($event)">
                                        <mat-option *ngFor="let language of languageList" [value]="language.languageId">
                                            {{language.languageName}}</mat-option>
                                    </mat-select>

                                </mat-form-field>
                                <div class="error-message"
                                    *ngIf="glimpseForm.controls['language'].invalid && (glimpseForm.controls['language'].dirty || glimpseForm.controls['language'].touched)">
                                    <mat-error [hidden]=" !glimpseForm.get('language')?.hasError('required')  ">
                                        Language is mandatory
                                    </mat-error>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4" *ngIf="othersLang">
                        <label>Others</label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="Others" type="text" value="" [required]="othersLang" />

                        </mat-form-field>
                        <div class="error-message"
                            *ngIf="glimpseForm.controls['Others'].invalid && (glimpseForm.controls['Others'].dirty || glimpseForm.controls['Others'].touched)">
                            <mat-error [hidden]=" !glimpseForm.get('Others')?.hasError('required')  ">
                                Others is mandatory
                            </mat-error>
                        </div>
                    </div>

                </div>
                <div class=" d-flex flex-row justify-content-end  ">
                    <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block   "
                        *ngIf="isSubmit" (click)="glimpseformsubmit()">
                        Add
                    </button>
                    <button (click)="onsave()" class="btn btn-outline-secondary btn-rounded d-inline-block   "
                        *ngIf="isEditable">
                        Update
                    </button>
                    <button type="button" (click)="reseteditable()"
                        class="btn btn-outline-secondary btn-rounded d-inline-block    ">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="card ">
        <div class="card-header text-white bg-secondary">
            Glimpse
        </div>
        <div class="card-body bg-transparent px-0 py-0">
            <table mat-table [dataSource]="filterData.dataSource" matSort class="mat-elevation-z8 mat-datagrid w-100"
                aria-label="users">
                <ng-container matColumnDef="classMediaId">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;" scope="col">
                        <label mat-sort-header>
                            S.No
                        </label>
                        <input type="text" class="bg-light text-dark" (keyup)="updatePagination('courseId')"
                            [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData" disabled="true" />
                    </th>
                    <td mat-cell *matCellDef="let i=index"> {{pageNo +i }} </td>
                </ng-container>
                <ng-container matColumnDef="coursesId">

                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Course
                        </label>
                        <input type="text" class="bg-light text-dark" (keyup)="updatePagination('courseName')"
                            [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-left" *matCellDef="let element"> {{element.coursesId.coursesName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="date">

                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Date
                        </label>
                        <input type="text" class="bg-light text-dark" (keyup)="updatePagination('courseName')"
                            [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-left" *matCellDef="let element"> {{element.date | date:'dd-MMM-YYYY'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="languageName">

                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Language
                        </label>
                        <input type="text" class="bg-light text-dark" (keyup)="updatePagination('courseName')"
                            [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData" />
                    </th>
                    <td mat-cell class="text-left" *matCellDef="let element">{{element.language.languageName}}</td>

                </ng-container>



                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef scope="col">
                        <label mat-sort-header>
                            Actions
                        </label>
                        <input type="text" class="bg-light text-dark" (keyup)="updatePagination('courseDuration')"
                            disabled="true" />

                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element">
                        <div class="row">
                            <div class="col">

                                <i class="fa-solid fa-eye" (click)="viewDetails(element)"
                                    matTooltip="View Course Activity" matTooltip="View"></i>
                                <span matTooltip="Edit" (click)="editdetails(element)">
                                    <i class="fas fa-pencil-alt mx-4" aria-hidden="true"></i>
                                </span>
                                <span matTooltip="Delete" style="cursor: pointer;"
                                    (click)="deletedetails(element.glimpsesId)">
                                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                                </span>

                            </div>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="card-body" [pageSizeOptions]="[10,25, 50, 100,150,200]"
                (page)="onpaginatechange($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>

</div>