<div class="ConfigurationTypes_textpadding bg-light">
    <h5>Course Media live Class</h5>



    <mat-card>



        <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Course</mat-label>
                        <mat-select [(ngModel)]="coursename" (ngModelChange)="coursechange()">
                            <mat-option *ngFor="let course of courselist" [value]="course.courseId">
                                {{course.courseName}}</mat-option>
                        </mat-select>
                        <span class="text-danger" *ngIf="categoryerror">
                            Please Select Category
                        </span>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Type : Live videolink</mat-label>
                        <mat-select [(ngModel)]="categoryname" (ngModelChange)="typechange()">
                            <mat-option *ngFor="let course of typecategory" [value]="course">
                                {{course}}</mat-option>
                        </mat-select>
                        <span class="text-danger" *ngIf="categoryerror2">
                            Please Select Category
                        </span>
                    </mat-form-field>

                </div>
                <div class="col-md-1 pt-3">
                    <button type="button" class="mb-5" (click)="gobutton()"
                        class="btn btn-outline-secondary btn-rounded d-inline-block   ">
                        Go
                    </button>
                </div>

            </div>
            <hr>
            <form class="row " [formGroup]="videoform" (ngSubmit)="videoformsubmit()">
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label pt-4 fw-semibold">Class Link</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="outline" id="field">
                            <mat-label>Paste Video Link</mat-label>
                            <input matInput formControlName="videolink">
                            <mat-error [hidden]="!videoform.get('videolink')?.hasError('required')">
                                Please Add Link
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label fw-semibold pt-4">Select date</label>
                    <div class="col-sm-5">

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Select date</mat-label>
                            <input matInput formControlName="date" placeholder="Ex. Pizza" value="Sushi" type="date">
                            <mat-error [hidden]="!videoform.get('date')?.hasError('required')">
                                Please Add Date
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Title</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="outline" id="field">
                            <mat-label>Title here</mat-label>
                            <input matInput formControlName="title">
                            <mat-error [hidden]="!videoform.get('title')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Description</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="outline" id="field">
                            <mat-label>Description here</mat-label>
                            <textarea matInput formControlName="description"
                                placeholder="Ex. It makes me feel..."></textarea>
                            <mat-error [hidden]="!videoform.get('description')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2 ">
                        Submit
                    </button>
                </div>
            </form>
            <hr>

            <div class="row">
                <div class="col">
                    <h5>Course Media Shorts Video</h5>
                </div>
                <div class="col" style="width: 10px;">

                    <button style="background-color: rgb(248, 98, 98); width: 10px; height: 40px;" mat-raised-button
                        class="pb-4"> <i class="fa-solid fa-plus"></i></button>
                </div>
            </div><br>


            <form class="row " [formGroup]="shortvideoform" (ngSubmit)="shortvideoformsubmit()">
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Select</label>
                    <div class="col-sm-5">

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Select date</mat-label>
                            <input matInput formControlName="date" placeholder="Ex. Pizza" value="Sushi" type="date">
                            <mat-error [hidden]="!shortvideoform.get('date')?.hasError('required')">
                                Please Select Date
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">Video Link</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="outline" id="field">
                            <mat-label>Paste Link</mat-label>
                            <input matInput formControlName="videolink">
                            <mat-error [hidden]="!shortvideoform.get('videolink')?.hasError('required')">
                                Please Add Link
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">Duration of video</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="outline" id="field">
                            <mat-label>30:20</mat-label>
                            <input matInput formControlName="duration">
                            <mat-error [hidden]="!shortvideoform.get('duration')?.hasError('required')">
                                Please Select Duartion
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">Title</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="outline" id="field">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title">
                            <mat-error [hidden]="!shortvideoform.get('title')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">select category</label>
                    <div class="col-sm-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose an option</mat-label>
                            <mat-select formControlName="category">
                                <mat-option *ngFor="let category of categorylist"
                                    [value]="category.courseMediaCategoryId">
                                    {{category.categoryName}}</mat-option>
                            </mat-select>
                            <mat-error [hidden]="!shortvideoform.get('category')?.hasError('required')">
                                Please Select category
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Description</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="outline" id="field">
                            <mat-label>Description here</mat-label>
                            <textarea matInput formControlName="description"
                                placeholder="Ex. It makes me feel..."></textarea>
                            <mat-error [hidden]="!shortvideoform.get('description')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col ">
                    <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block   ">
                        Submit
                    </button>

                </div>
                <br><br><br>
            </form>



            <hr>
            <br><br><br>
            <h5>Glimpses</h5>
            <form class="row " [formGroup]="glimpseform" (ngSubmit)="glimpseformsubmit()">

                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Select date</label>
                    <div class="col-sm-5">

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Select date</mat-label>
                            <input matInput formControlName="date" placeholder="Ex. Pizza" value="Sushi" type="date">
                            <mat-error [hidden]="!shortvideoform.get('date')?.hasError('required')">
                                Please Select Date
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Choose file</label>
                    <div class="col-sm-5">

                        <input type="file" class="border" id="file" (change)="filechange($event)" formControlName="file"
                            accept=" image/*" required="true" />
                        <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>

                    </div>
                </div>
                <div class="col pl-1">
                    <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block   ">
                        Submit
                    </button>

                </div>

            </form>

        </div>




    </mat-card>

</div>