<div class="ConfigurationTypes_textpadding bg-light">
    <h5>Course Media live Class</h5>



    <mat-card>



        <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl [disabled]="disableSelect.value">
                      <option value="" selected></option>
                      <option value="volvo">Volvo</option>
                      <option value="saab" disabled>Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl [disabled]="disableSelect.value">
                      <option value="" selected></option>
                      <option value="volvo">Volvo</option>
                      <option value="saab" disabled>Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                    </mat-form-field>

                </div>
                <div class="col-md-1 pt-3">
                    <button style="background-color: rgb(196, 193, 193); width: 10px; height: 40px;" mat-raised-button class="pb-4">Go</button>
                </div>

            </div>
            <hr>
            <div class="row ">
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label pt-4 fw-semibold">Class Link</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="fill" id="field">
                            <mat-label>Paste Video Link</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 col-form-label fw-semibold pt-4">Select date</label>
                    <div class="col-sm-5">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Select date</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi" type="date">
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Title</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="fill" id="field">
                            <mat-label>Title here</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Description</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="fill" id="field">
                            <mat-label>Description here</mat-label>
                            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2 ">
                Submit
            </button>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col">
                    <h5>Course Media Shorts Video</h5>
                </div>
                <div class="col" style="width: 10px;">

                    <button style="background-color: rgb(248, 98, 98); width: 10px; height: 40px;" mat-raised-button class="pb-4">  <i class="fa-solid fa-plus"></i></button>


                </div>
            </div><br>
            <div class="row ">
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Select</label>
                    <div class="col-sm-5">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Select date</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi" type="date">
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">Video Link</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="fill" id="field">
                            <mat-label>Paste Link</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">Duration od video</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="fill" id="field">
                            <mat-label>30:20</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">Title</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="fill" id="field">
                            <mat-label>Title</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label pt-4">select category</label>
                    <div class="col-sm-5">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose an option</mat-label>
                            <select matNativeControl [disabled]="disableSelect.value">
                      <option value="" selected></option>
                      <option value="volvo">Volvo</option>
                      <option value="saab" disabled>Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Description</label>
                    <div class="col-sm-10">
                        <mat-form-field class="example-full-width" appearance="fill" id="field">
                            <mat-label>Description here</mat-label>
                            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="col ">
                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block   ">
                    Submit
                </button>

            </div><br><br><br>&nbsp;


            <hr>

            <h5>Glimpses</h5>
            <div class="row ">

                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Select date</label>
                    <div class="col-sm-5">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Select date</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi" type="date">
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputEmail3" class="col-sm-2 fw-semibold col-form-label  pt-4">Choose file</label>
                    <div class="col-sm-5">

                        <input type="file" id="file" formControlName="" accept=" image/*" required="true" />

                    </div>
                </div>


            </div>

        </div>
        <div class="col pl-1">
            <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block   ">
                Submit
            </button>

        </div>



    </mat-card>

</div>