<div class="ConfigurationTypes_textpadding p-5">
    <h3 class="mb-3 pl-2"> Add Banner </h3>

    <div class="card border-light pt-3">
        <!-- <div class="pl-3 ">
            <h3> Header Banner </h3>
        </div>
        <hr />
        <br /> -->
        <div class="card-body pl-3">

            <!-- <form class="" [formGroup]="headerbannerform" (ngSubmit)="submitheaderbanner()">

                <label class="" for="file">Upload Image</label>
                <input type="file" id="file" class="border" formControlName="bannerimage" (change)="onfilechange('headerform')"
                    accept="image/*" required="true" /> <br />
                <mat-error *ngIf="filerror">Please Upload Valid File</mat-error>
                <br />
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput class="p-2" formControlName="description" rows="5"
                        placeholder="Description"></textarea>
                    <div
                        *ngIf="headerbannerform.controls['description'].invalid && (headerbannerform.controls['description'].dirty || headerbannerform.controls['description'].touched)">
                        <mat-error [hidden]=" !headerbannerform.get('description')?.hasError('required')  ">
                            Please Type Few Words
                        </mat-error>
                    </div>
                </mat-form-field>
                <br />
                <mat-radio-group aria-label="Select an option" formControlName="others">
                    <mat-radio-button color="primary" value="enable" class="me-5">Enable</mat-radio-button>
                    <mat-radio-button color="primary" value="disable">Disable</mat-radio-button>
                </mat-radio-group>
                <div
                    *ngIf="headerbannerform.controls['others'].invalid && (headerbannerform.controls['others'].dirty || headerbannerform.controls['others'].touched)">
                    <mat-error [hidden]=" !headerbannerform.get('others')?.hasError('required')  ">
                        Please Choose One
                    </mat-error>
                </div>

                <br /> <br />

                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                    Submit Banner
                </button>


            </form>
            <hr />
            <br /> -->

            <div class="pl-3 ">
                <h3> HomePage Course Banner </h3>
            </div>

            <hr />
            <br />

            <form class="" [formGroup]="coursebanner" (ngSubmit)="submitcourserbanner()">


                <div class="row">

                    <div class="col-md-6">
                        <label>Course Title</label>
                        <!-- <mat-form-field appearance="outline">  

                         <mat-label>Course Title</mat-label> 
                         <input matInput formControlName="coursetitle">
                            <div
                                *ngIf="coursebanner.controls['coursetitle'].invalid && (coursebanner.controls['coursetitle'].dirty || coursebanner.controls['coursetitle'].touched)">
                                <mat-error [hidden]=" !coursebanner.get('coursetitle')?.hasError('required')  ">
                                    Please Type Few Words
                                </mat-error>
                            </div>
                        </mat-form-field>  -->

                        <mat-form-field appearance="outline">
                            <mat-label>Course Title</mat-label>
                            <input matInput autocomplete="off" formControlName="coursetitle" required>
                            <mat-error [hidden]=" !coursebanner.get('coursetitle')?.hasError('required')  ">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <label class="" for="file">Upload Image</label>
                        <input type="file" id="file" class="border" formControlName="coursebannerimage"
                            accept=" image/*" (change)="onfilechange($event,'courseform')" required="true" />
                        <br />
                        <mat-error *ngIf="filerror2">Please Upload Valid File</mat-error>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>From Date</label>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>From Date</mat-label>
                            <input matInput formControlName="fromdate" placeholder="Ex. Pizza" value="Sushi"
                                type="date">

                            <mat-error [hidden]=" !coursebanner.get('fromdate')?.hasError('required')  ">
                                Please Select the date
                            </mat-error>

                        </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <label>To Date</label>


                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>To Date</mat-label>
                            <input matInput formControlName="todate" placeholder="Ex. Pizza" value="Sushi" type="date">

                            <mat-error [hidden]=" !coursebanner.get('todate')?.hasError('required')  ">
                                Please Select the date
                            </mat-error>

                        </mat-form-field>
                    </div>
                </div>

                <br />
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>

                    <textarea matInput class="p-2" formControlName="description" rows="5"
                        placeholder="Description"></textarea>
                    <div
                        *ngIf="coursebanner.controls['description'].invalid && (coursebanner.controls['description'].dirty || coursebanner.controls['description'].touched)">
                        <mat-error [hidden]=" !coursebanner.get('description')?.hasError('required')  ">
                            Please Type Few Words
                        </mat-error>
                    </div>
                </mat-form-field>
                <br /><br />

                <!-- <button class="bg-light" mat-stroked-button type="submit">Submit Banner</button> -->

                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2">
                    Submit Banner
                </button>
            </form>

        </div>
    </div>

</div>