<div class="ConfigurationTypes_textpadding p-5">
    <!-- <h3 class="mb-3 pl-2 card-header text-white card bg-secondary"> Add Banner </h3> -->

    <div class="card bg-white mt-3">
     
        <!-- <div class="pl-3 ">
            <h3> Header Banner </h3>
        </div>
        <hr />
        <br /> -->
        <h3 class="mb-3 pl-2 card-header text-white card bg-secondary"> Add Banner </h3>
        <div class="card-body bg-white pl-3">
          

           

            <div class="pl-3 ">
                <h4> Home Page Course Banner </h4>
            </div>

            <hr />


            <form class="" [formGroup]="coursebanner" class="mr-5" (ngSubmit)="submitcourserbanner()">


                <div class="row ">
                    <!-- <h6 class="text-md-right col-md-4">Course title : </h6> -->
                 

                    <div class="col-md-6">
                        <label>Course title : </label>
                        <mat-form-field appearance="outline">
                            <mat-label>Course title</mat-label>
                            <input matInput autocomplete="off" class="" formControlName="coursetitle" required>
                            <mat-error [hidden]="!coursebanner.get('coursetitle')?.hasError('required')">
                                Please Type Few Words
                            </mat-error>
                        </mat-form-field>
                    </div>
               
                    <!-- <h6 class="text-md-right col-md-4">Upload Image : </h6> -->
                 

                    <div class="col-md-6">
                        <label>Upload Image : </label>
                        <input type="file" id="file" class="border" formControlName="coursebannerimage"
                            accept=" image/*" (change)="onfilechange($event,'courseform')" required="true" />
                        <br />
                        <mat-error *ngIf="filerror2">Please Upload Valid File</mat-error>

                    </div>
              
                    <!-- <h6 class="text-md-right col-md-4">From date : </h6> -->
                 

                    <div class="col-md-6">
                        <label>From date : </label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <!-- <mat-label>From date</mat-label> -->
                            <input matInput formControlName="fromdate" placeholder="Ex. Pizza" value="Sushi"
                                type="date">
                            <mat-error [hidden]=" !coursebanner.get('fromdate')?.hasError('required')  ">
                                Please Select the date
                            </mat-error>
                        </mat-form-field>
                    </div>
<!--                 
                    <h6 class="text-md-right col-md-4">To date : </h6> -->

                    <div class="col-md-6">
                        <label>To date :</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <!-- <mat-label>From date</mat-label> -->
                            <input matInput formControlName="todate" placeholder="Ex. Pizza" value="Sushi" type="date">
                            <mat-error [hidden]=" !coursebanner.get('todate')?.hasError('required')  ">
                                Please Select the date
                            </mat-error>
                        </mat-form-field>
                    </div><br>&nbsp;
            
                    <!-- <h6 class="text-md-right col-md-4">Description : </h6> -->

                    <div class="col-md-12">
                        <label>Description :</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>

                            <textarea matInput class="p-2" formControlName="description" rows="5"
                                placeholder="Description"></textarea>
                            <div
                                *ngIf="coursebanner.controls['description'].invalid && (coursebanner.controls['description'].dirty || coursebanner.controls['description'].touched)">
                                <mat-error [hidden]=" !coursebanner.get('description')?.hasError('required')  ">
                                    Please Type Few Words
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                </div>

        

                <button type="submit" class="btn btn-outline-secondary btn-rounded d-inline-block m-2 float-md-right">
                    Submit banner
                </button>
            </form>

        </div>
    </div>

</div>